// d8b
// Y8P
//
// 888  .d88b.
// 888 d8P  Y8b
// 888 88888888
// 888 Y8b.
// 888  "Y8888
//
// These styles will only be applied in Internet Explorer vesions 10 and 11

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {

  // Fix flex container not fitting into screen width
  .disclaimer,
  .home-intro {
    flex-basis: 80%;
  }

  // Fix multiselect coloring issue (white text on light blue background)
  .select {
    select {
      &:focus {
        option:checked {
          background-image: none;
        }
      }

      option:checked {
        background-image: none;
      }
    }
  }
}
