//          888             888                            d8b      888
//          888             888                            Y8P      888
//          888             888                                     888
// .d8888b  888888 888  888 888  .d88b.   .d88b.  888  888 888  .d88888  .d88b.
// 88K      888    888  888 888 d8P  Y8b d88P"88b 888  888 888 d88" 888 d8P  Y8b
// "Y8888b. 888    888  888 888 88888888 888  888 888  888 888 888  888 88888888
//      X88 Y88b.  Y88b 888 888 Y8b.     Y88b 888 Y88b 888 888 Y88b 888 Y8b.
//  88888P'  "Y888  "Y88888 888  "Y8888   "Y88888  "Y88888 888  "Y88888  "Y8888
//                      888                   888
//                 Y8b d88P              Y8b d88P
//                  "Y88P"                "Y88P"

@import 'directives/directives';
@import 'tokens/tokens';

@import 'styleguide/colors';

@import 'styleguide/prism';

.kss-body {
  display: flex;
  min-height: 100vh;

  > app-root {
    width: 100%;

    > .grid {
      min-height: 100vh;
      grid-template-rows: min-content min-content auto;

      @include breakpoint(l) {
        grid-template-rows: min-content auto;
      }
    }
  }

  abbr {
    text-decoration: none;
  }

  app-menu {
    display: flex;
  }

  h1,
  h2,
  h3,
  h4 {
    color: $color-blue;
    font-weight: $font-weight-black;
    margin: $space-m 0 $space-s;
    text-transform: uppercase;
  }

  section {
    margin: $space-m 0;
  }

  .kss-with-anchor {
    margin: 0 0 $space-s;

    > span {
      white-space: nowrap;
    }

    .anchor-icon {
      display: flex;
      flex: 0 1 100%;
      justify-content: flex-end;
      text-align: right;

      a {
        color: $color-blue;

        &:active,
        &:focus,
        &:hover {
          background-color: transparent;
          color: $color-black;
        }
      }
    }
  }

  .site-header {
    margin-bottom: 0;

    > nav > ul li.site-name {
      border-bottom-width: 0;
    }
  }
}

.kss-breadcrumb {
  margin: $space-s 0 0;
  padding: 0;

  li {
    display: inline-block;
    list-style: none;
    margin: 0;

    &:last-child a {
      color: $color-black;
      text-decoration: none;

      &:active,
      &:focus,
      &:hover {
        color: $color-white;
      }
    }

    + li:before {
      color: color(grey, 70);
      content: " ➔ ";
      padding: 0 $space-s;
    }
  }
}

.kss-description {
  margin-bottom: $space-m;
}

.kss-example {
  border: 1px solid color(cyan, 15);
  margin: 0;
  padding: $space-m;
}

.kss-home {
  h1 {
    color: inherit;
    font-weight: $font-weight-bold;
    margin-bottom: $space-s;
    text-transform: none;
  }

  h2 {
    font-size: $font-size-m;
  }

  h3 {
    color: $color-blue;
    font-size: $font-size-h2;
    font-weight: $font-weight-black;
    text-transform: uppercase;
  }

  h4 {
    font-weight: $font-weight-bold;
    margin: 0 0 $space-s;
  }
}

.kss-example-header {
  background-color: $color-blue;
  color: $color-white;
  font-size: $font-size-m;
  font-weight: $font-weight-bold;
  margin: $space-m 0 0;
  max-width: none;
  padding: $space-s $space-m;
}

.kss-main {
  padding: $space-m $space-l;
}

.kss-menu {
  background-color: $color-blue-dark;
  color: $color-white;
  padding: $space-m 0;
  width: 100%;

  a {
    display: block;
    font-weight: $font-weight-bold;
    padding: $space-xs $space-m;
    text-decoration: none;

    &.kss-menu-child {
      font-size: $font-size-s;
      font-weight: $font-weight-normal;
      padding: $space-xxs $space-m $space-xxs $space-l;
    }

    &.kss-menu-active {
      background-color: color(cyan, 10);
    }
  }

  li {
    font-size: $font-size-m;
    list-style: none;
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

.kss-source {
  background-color: color(cyan, 95);
  border: 1px solid color(cyan, 15);
  margin: 0 0 $space-l;
  padding: $space-s $space-m;
}
