//           .d888  .d888
//          d88P"  d88P"
//          888    888
//  .d88b.  888888 888888       .d8888b  8888b.  88888b.  888  888  8888b.  .d8888b
// d88""88b 888    888         d88P"        "88b 888 "88b 888  888     "88b 88K
// 888  888 888    888  888888 888      .d888888 888  888 Y88  88P .d888888 "Y8888b.
// Y88..88P 888    888         Y88b.    888  888 888  888  Y8bd8P  888  888      X88
//  "Y88P"  888    888          "Y8888P "Y888888 888  888   Y88P   "Y888888  88888P'

.off-canvas {
  height: $off-canvas-height;
  overflow: auto;
  transition: $off-canvas-transition;
  width: $off-canvas-width;

  > section {
    padding: $space-m;

    > :first-child {
      margin-right: $space-m;
    }
  }
}

.site-content {
  display: flex;
  flex-direction: column;
  grid-area: site-content;
  min-height: 100vh;
  overflow: auto;
}

.site-layout {
  display: grid;
  grid-template-areas: 'site-nav site-content';
  grid-template-columns: $off-canvas-width 100vw;
  height: $off-canvas-height;
  left: (-$off-canvas-width);
  position: relative;
  transition: $off-canvas-transition;
  width: calc(100vw + #{$off-canvas-width});

  @include breakpoint(xxxl) {
    grid-template-columns: $off-canvas-width auto;
    left: 0;
    width: 100vw;
  }

  &.site-nav-open {
    left: 0;

    .button-nav svg path {
      &:first-child {
        transform: rotate(45deg) translateY(50%) translateX(-50%);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        transform: rotate(-45deg) translateY(-50%) translateX(-50%);
      }
    }
  }
}

.site-nav.on-dark {
  background-color: color(cyan, 15);
  grid-area: site-nav;
  height: $off-canvas-height;
  overflow-y: auto;
  position: relative;

  a {
    display: block;
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
    line-height: $line-height-header;
    padding: $space-s $space-m;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover,
    &.nav-active {
      background-color: $color-theme-dark-background-alt;
      color: $color-theme-dark-text;
    }

    &.nav-child {
      font-size: $font-size-m;
      font-weight: $font-weight-normal;
      padding: $space-xs $space-l;
    }

    &[href*='//']:not([href*="dataweb.usitc.gov"]) {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAwIDEwMDAiPjx0aXRsZT5leHRlcm5hbDwvdGl0bGU+PHN0eWxlPnBhdGggeyBmaWxsOiB3aGl0ZTsgfTwvc3R5bGU+PHBhdGggZD0iTTk0OC43NSwzMjQuMTQsODc5LjI1LDIyMSw2NzYuNTksNDIzLjY0YTIwLjc2LDIwLjc2LDAsMCwxLTI5LjI2LDBsLTczLjE2LTczLjE2YTIwLjc2LDIwLjc2LDAsMCwxLDAtMjkuMjdMNzc2LjgyLDExOC41NmwtMTAxLTY3LjMxYy0xNi44My0xMS04Ljc4LTM2LjU4LDExLTM3LjMxTDk3OC43NCwwYzEyLjQ0LS43MywyMiw4Ljc4LDIxLjIyLDIxLjIybC0xMy45LDI5MS45Qzk4NC42LDMzMy42NSw5NTkuNzIsMzQxLDk0OC43NSwzMjQuMTRaIi8+PHBhdGggZD0iTTgyNi4zMiwzNTUuMjVWODEwLjUzYTE1LjY3LDE1LjY3LDAsMCwxLTE1LjI3LDE1LjI2SDE4OWExNS42NywxNS42NywwLDAsMS0xNS4yNy0xNS4yNlYxODguNDJjMC03LjgzLDYuODUtMTQuMjEsMTUuMjctMTQuMjFINjQzLjY3bDUwLTUwSDE4OWMtMzUuNzksMC02NS4yNywyOC40Mi02NS4yNyw2NC4yMVY4MTAuNTNjMCwzNS43OSwyOS40OCw2NS4yNiw2NS4yNyw2NS4yNmg2MjIuMWMzNS43OSwwLDY1LjI3LTI5LjQ3LDY1LjI3LTY1LjI2VjMwNS4yNVoiLz48L3N2Zz4=) !important;
      background-position: center right $space-m;
      padding-right: $space-l;
    }
  }

  span {
    display: block;
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
    line-height: $line-height-header;
    padding: $space-s $space-m;

    &.nav-child {
      font-size: $font-size-m;
      font-weight: $font-weight-normal;
      padding: $space-xs $space-l;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0;
    }
  }
}

.site-outlet {
  flex: 1;
}
