<div class="kss-parameters">
  <ng-container *ngFor="let parameter of parameters">
    <ng-container *ngIf="parameter['color']">
      <svg *ngIf="parameter['style']"
        class="kss-parameters-color-sample">
        <rect [ngStyle]="parameter['style']"/>
      </svg>
      <div class="kss-parameters-var"
        [innerHTML]="parameter['var']"></div>
      <div class="kss-parameters-description"
        [innerHTML]="parameter['value']"></div>
    </ng-container>

    <ng-container *ngIf="!parameter['color']">
      <div class="kss-parameters-var"
        [innerHTML]="parameter['var']"></div>
      <div class="kss-parameters-value"
        [innerHTML]="parameter['value']"></div>
      <div class="kss-parameters-description"
        [innerHTML]="parameter['description']"></div>
    </ng-container>
  </ng-container>
</div>
