<div class="kss-parameters"
  [class.kss-parameters-color]="parameters[0]['color']">
  <ng-container *ngFor="let parameter of parameters">
    <ng-container *ngIf="parameter['color']">
      <div *ngIf="parameter['style']"
        class="kss-parameters-color-sample"
        [ngStyle]="parameter['style']"></div>
      <div class="kss-parameters-var"
        [innerHTML]="parameter['var']"></div>
      <div class="kss-parameters-value"
        [innerHTML]="parameter['value']"></div>
    </ng-container>

    <ng-container *ngIf="parameter['font']">
      <div class="kss-parameters-var"
        [innerHTML]="parameter['var']"></div>
      <div class="kss-parameters-value"
        [innerHTML]="parameter['value']"></div>
    </ng-container>
  </ng-container>
</div>
