.kss-parameters {
  background-color: color(cyan, 99);
  border: $border-base;
  font-family: $font-family-mono;
  display: grid;
  grid-column-gap: $grid-gap-col;
  grid-row-gap: $space-xs;
  padding: $space-m;

  @include breakpoint(m) {
    grid-template-columns: min-content auto auto;
    grid-template-rows: auto;
  }
}

.kss-parameters-color-sample {
  border: $border-base;
  height: $space-l;
  width: 100%;

  @include breakpoint(m) {
    height: $space-m;
    width: $space-xl;
  }

  rect {
    height: 100%;
    width: 100%;
  }
}

.kss-parameters-description {
  margin-bottom: $space-m;

  @include breakpoint(m) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.kss-parameters-var {
  font-weight: $font-weight-bold;
  white-space: nowrap;
}
