/*
  88888b.   .d88b.  888  888  888  .d88b.  888d888
  888 "88b d88""88b 888  888  888 d8P  Y8b 888P"
  888  888 888  888 888  888  888 88888888 888
  888 d88P Y88..88P Y88b 888 d88P Y8b.     888
  88888P"   "Y88P"   "Y8888888P"   "Y8888  888
  888
  888
  888

  Power function

  pow($number, $exponent)
*/

@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number;
    }
  } @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number;
    }
  }

  @return $value;
}
