/*
888                     888
888                     888
888                     888
888888 .d88b.  888  888 888888       .d8888b 888d888 .d88b.  88888b.
888   d8P  Y8b `Y8bd8P' 888         d88P"    888P"  d88""88b 888 "88b
888   88888888   X88K   888  888888 888      888    888  888 888  888
Y88b. Y8b.     .d8""8b. Y88b.       Y88b.    888    Y88..88P 888 d88P
 "Y888 "Y8888  888  888  "Y888       "Y8888P 888     "Y88P"  88888P"
                                                             888
                                                             888
                                                             888

  Text Cropping mixin

  text-crop($line-height, $top-adjustment, $bottom-adjustment)
*/

@mixin text-crop($line-height: 1.25, $top-adjustment: 0px, $bottom-adjustment: 0px) {
  $top-crop: 10;
  $bottom-crop: 10;
  $crop-font-size: 36;
  $crop-line-height: 1.25;

  $dynamic-top-crop: max(($top-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;
  $dynamic-bottom-crop: max(($bottom-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)), 0) / $crop-font-size;

  display: inline-block;
  line-height: $line-height;

  &::before,
  &::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }

  &::before {
    margin-bottom: calc(-#{$dynamic-top-crop}em + #{$top-adjustment});
  }

  &::after {
    margin-top: calc(-#{$dynamic-bottom-crop}em + #{$bottom-adjustment});
  }
}
