<article class="kss-home">
  <h1>USITC Design System</h1>
  <h2>Resources, tooling and design guidelines for building websites with the USITC’s front-end framework.</h2>
  <h3>Introduction</h3>
  <p>Our goal is to create a system that enables us to build consistent user experiences with ease, yet with enough flexibility to support the needs of USITC’s different websites and applications. This goal is embedded in our design and code decisions.</p>
  <p>This style guide is living documentation that will be updated as we continue to improve and evolve our design system.</p>
  <h3>Designed for Consistency</h3>
  <h4>Highly Composable Spacing Scale</h4>
  <p>The base-20 spacing scale is highly composable and works with the density of USITC’s content. Margin and padding spacers bring consistency to vertical and horizontal rhythm, while remaining flexible so you can tweak layouts to work for every context.</p>
  <h4>Customizable Typography</h4>
  <p>Font size and line-height options work together to result in more sensible numbers. Font styles come in a range of weights and sizes so that we can style appropriately for content and readability. Type utilities allow us to change the visual styles
    while keeping markup semantic.</p>
  <h4>Meaningful Color</h4>
  <p>The color system allows us to add meaningful signals to content and interactions. Color variables and utilities offer thematic styling options without being tied to structure. Text and background colors come in a range of accessible combinations to
    ensure we build inclusive interfaces.</p>
  <h3>Using the USITC Design System</h3>
  <p>The USITC Design System is distributed via <a href="https://www.npmjs.com/package/usitc-design-system">npm</a>. As the design system grows, it may be split into individual npm packages, but at the present time you’ll need to add the entire system to
    your project.</p>
</article>
