<article class="kss-home">
  <h1>USITC Design System</h1>
  <h2>Resources, tooling and design guidelines for building websites with the USITC’s front-end framework.</h2>
  <h3>Introduction</h3>
  <p>Our goal is to create a system that enables us to build consistent user experiences with ease, yet with enough flexibility to support the needs of USITC’s different websites and applications. This goal is embedded in our design and code decisions.</p>
  <p>This style guide is living documentation that will be updated as we continue to improve and evolve our design system.</p>
  <h3>Using the USITC Design System</h3>
  <p>The USITC Design System is distributed via <a href="https://www.npmjs.com/package/usitc-design-system">npm</a>. As the design system grows, it may be split into individual npm packages, but at the present time you’ll need to add the entire system to
    your project.</p>
</article>
