// PrismJS 1.15.0
//
// Original CSS downloaded from:
// https://prismjs.com/download.html#themes=prism-okaidia&languages=markup+css+clike+javascript+bash+git+json+markdown+scss+typescript+yaml
//
// Modified to use colors from the USITC Design System.

.kss-body code[class*='language-'],
.kss-body pre[class*='language-'] {
  background: color(cyan, 15);
  color: color(white);
  font-family: $font-family-mono;
  font-size: 100%;
  hyphens: none;
  line-height: $line-height-base;
  padding: 0;
  tab-size: 2;
  text-align: left;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
}

/* Code blocks */
.kss-body pre[class*='language-'] {
  border-width: 0;
  padding: $space-m;
  margin: 0 0 $space-m;
  overflow: auto;
}

:not(pre) > code[class*='language-'],
pre[class*='language-'] {
  background: color(cyan, 15);
}

/* Inline code */
.kss-body code {
  background-color: color(black, 0, 10);
  font-size: 90%;
  margin: 0;
  padding: $space-xxs $space-xs;
  position: relative;
  top: -1px;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: color(grey);
}

.token.punctuation {
  color: color(cyan, 80);
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: color(cyan, 80);
}

.token.boolean,
.token.number {
  color: color(purple, 80);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: color(green, 70);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: color(white);
}

.token.atrule,
.token.attr-value,
.token.function {
  color: color(orange, 90);
}

.token.keyword {
  color: color(cyan, 80);
}

.token.regex,
.token.important {
  color: color(orange, 80);
}

.token.important,
.token.bold {
  font-weight: $font-weight-bold;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}
