//  .d888                  888
// d88P"                   888
// 888                     888
// 888888 .d88b.   .d88b.  888888 .d88b.  888d888
// 888   d88""88b d88""88b 888   d8P  Y8b 888P"
// 888   888  888 888  888 888   88888888 888
// 888   Y88..88P Y88..88P Y88b. Y8b.     888
// 888    "Y88P"   "Y88P"   "Y888 "Y8888  888

.site-footer {
  background-color: $color-theme-dark-background-alt;
  color: $color-theme-dark-text;

  > section {
    padding: $space-l;
    text-align: center;
  }
}
