// 888                             888
// 888                             888
// 888                             888
// 88888b.   .d88b.   8888b.   .d88888  .d88b.  888d888
// 888 "88b d8P  Y8b     "88b d88" 888 d8P  Y8b 888P"
// 888  888 88888888 .d888888 888  888 88888888 888
// 888  888 Y8b.     888  888 Y88b 888 Y8b.     888
// 888  888  "Y8888  "Y888888  "Y88888  "Y8888  888

.site-header {
  background-color: color(grey, 95);

  a {
    color: $color-theme-base-text;
    display: inline-block;
    padding: $space-s;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      background-color: $color-theme-dark-background-alt;
      color: $color-theme-dark-text;
    }
  }

  button {
    background-color: transparent;
    border-width: 0;
    color: inherit;
    padding: ($space-s * 0.85) $space-s;

    &:active,
    &:focus,
    &:hover {
      background-color: $color-theme-dark-background-alt;
      color: $color-theme-dark-text;
    }
  }
}

.header-nav {
  display: flex;
  padding: 0 $space-s;

  li {
    list-style: none;
    margin: 0;
  }

  .header-home {
    flex-grow: 1;
  }

  .button-nav {
    @include breakpoint(xxxl) {
      display: none;
    }
  }
}
