// 888                             888
// 888                             888
// 888                             888
// 88888b.   .d88b.   8888b.   .d88888  .d88b.  888d888
// 888 "88b d8P  Y8b     "88b d88" 888 d8P  Y8b 888P"
// 888  888 88888888 .d888888 888  888 88888888 888
// 888  888 Y8b.     888  888 Y88b 888 Y8b.     888
// 888  888  "Y8888  "Y888888  "Y88888  "Y8888  888

.site-header {
  background-color: $color-gray-lighter;
  color: $color-gray-dark;
  margin-bottom: $space-m;

  > nav > ul {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    padding: 0;

    @include breakpoint(l) {
      flex-wrap: nowrap;
    }

    li {
      align-items: stretch;
      border-bottom: 1px solid $color-gray-light;
      border-right: 1px solid $color-gray-light;
      display: flex;
      flex: 0 0 50%;
      font-size: $font-size-xs;
      font-weight: $font-weight-bold;
      list-style: none;
      margin: 0;
      max-width: 100%;
      text-transform: uppercase;

      &:first-child {
        flex: 0 0 100%;
      }

      &:last-child {
        border-right-width: 0;
      }

      @include breakpoint(xs) {
        flex: 0 0 25%;

        &:first-child {
          flex: 0 0 100%;
        }
      }

      @include breakpoint(l) {
        border-bottom-width: 0;
        flex: 0 1 auto;

        &:first-child {
          flex: 1 1 auto;
        }
      }

      &.site-name {
        border-right-width: 0;
        font-size: $font-size-xs;
        font-weight: $font-weight-bold;
        grid-column: 1 / span $content-header-links;
        text-transform: uppercase;

        @include breakpoint(l) {
          grid-column: 1 / span 1;
        }
      }

      a {
        align-items: center;
        background-image: none;
        color: $color-gray-dark;
        display: flex;
        justify-content: center;
        line-height: $line-height-header;
        padding: $space-s;
        text-align: center;
        text-decoration: none;
        width: 100%;

        @include breakpoint(l) {
          padding: $space-s $space-m;
          width: auto;
        }

        &:active,
        &:focus,
        &:hover {
          background-color: $color-blue;
          color: $color-white;
        }
      }
    }
  }
}
