$colors: (black: (hue: 0, sat: 0, lum: 0), white: (hue: 0, sat: 0, lum: 100), grey: (hue: 216, sat: 2), red: (hue: 2, sat: 67), orange: (hue: 23, sat: 100), yellow: (hue: 53, sat: 98), green: (hue: 145, sat: 47), cyan: (hue: 191, sat: 84), blue: (hue: 216, sat: 56), purple: (hue: 281, sat: 100));
$color-white: color(white);
$color-black: color(grey, 20);
$color-gray: color(grey);
$color-gray-dark: color(grey, 25);
$color-gray-light: color(grey, 70);
$color-gray-lighter: color(grey, 90);
$color-gray-lightest: color(grey, 95);
$color-blue: #0d7e97;
$color-blue-dark: #004353;
$color-blue-light: #c9e3e8;
$color-blue-lighter: #e4f1f3;
$color-red: #be2a26;
$color-red-dark: #981d20;
$color-red-light: #f0b9b8;
$color-red-lighter: #f7dbdb;
$color-green: #308453;
$color-green-dark: #266942;
$color-green-light: #e8f3e5;
$color-green-lighter: #edf5eb;
$color-orange: #fdb71c;
$color-orange-dark: #835c1b;
$color-orange-light: #fae0af;
$color-orange-lighter: #f3e3c8;
$color-theme-base-background: color(white);
$color-theme-base-background-alt: color(grey, 90);
$color-theme-base-border: color(grey, 90);
$color-theme-base-text: color(grey, 20);
$color-theme-base-link: color(cyan, 30);
$color-theme-base-hover-background: color(cyan, 30);
$color-theme-base-hover-text: color(white);
$color-theme-base-spinner: color(cyan);
$color-theme-dark-background: color(cyan, 20);
$color-theme-dark-background-alt: color(cyan, 30);
$color-theme-dark-border: color(cyan, 20);
$color-theme-dark-text: color(white);
$color-theme-dark-link: color(white);
$color-theme-dark-hover-background: color(white);
$color-theme-dark-hover-text: color(cyan, 30);
$color-theme-dark-spinner: color(white);
$color-state-error-background: color(red, 95);
$color-state-error-border: color(red, 40);
$color-state-error-text: color(grey, 20);
$color-state-error-link: color(red, 40);
$color-state-error-hover-background: color(red, 40);
$color-state-error-hover-text: color(white);
$color-state-info-background: color(cyan, 95);
$color-state-info-border: color(cyan, 30);
$color-state-info-text: color(grey, 20);
$color-state-info-link: color(cyan, 30);
$color-state-info-hover-background: color(cyan, 30);
$color-state-info-hover-text: color(white);
$color-state-success-background: color(green, 95);
$color-state-success-border: color(green, 30);
$color-state-success-text: color(grey, 20);
$color-state-success-link: color(green, 30);
$color-state-success-hover-background: color(green, 30);
$color-state-success-hover-text: color(white);
$color-state-warning-background: color(yellow, 95);
$color-state-warning-border: color(orange, 40);
$color-state-warning-text: color(grey, 20);
$color-state-warning-link: color(orange, 40);
$color-state-warning-hover-background: color(orange, 40);
$color-state-warning-hover-text: color(white);
$color-state-highlight-background: color(cyan, 30);
$color-state-highlight-text: color(white);