$colors: (black: (hue: 0, sat: 0, lum: 0), white: (hue: 0, sat: 0, lum: 100), grey: (hue: 215, sat: 10), red: (hue: 350, sat: 80), orange: (hue: 35, sat: 80), yellow: (hue: 65, sat: 80), green: (hue: 110, sat: 80), cyan: (hue: 185, sat: 80), blue: (hue: 215, sat: 80), purple: (hue: 275, sat: 80));
$color-theme-base-background: color(white) !default;
$color-theme-base-background-alt: color(grey, 90) !default;
$color-theme-base-border: color(grey, 20) !default;
$color-theme-base-text: color(grey, 20) !default;
$color-theme-base-accent: color(blue, 30) !default;
$color-theme-base-link: color(blue, 30) !default;
$color-theme-base-hover-background: color(white) !default;
$color-theme-base-hover-text: color(blue, 30) !default;
$color-theme-base-spinner: color(blue, 30) !default;
$color-theme-dark-background: color(blue, 20) !default;
$color-theme-dark-background-alt: color(blue, 30) !default;
$color-theme-dark-border: color(blue, 20) !default;
$color-theme-dark-text: color(white) !default;
$color-theme-dark-accent: color(blue, 80) !default;
$color-theme-dark-link: color(blue, 90) !default;
$color-theme-dark-hover-background: color(white) !default;
$color-theme-dark-hover-text: color(blue, 30) !default;
$color-theme-dark-spinner: color(white) !default;
$color-state-error-background: color(red, 95) !default;
$color-state-error-background-alt: color(red, 90) !default;
$color-state-error-border: color(red, 40) !default;
$color-state-error-text: color(grey, 20) !default;
$color-state-error-accent: color(red, 30) !default;
$color-state-error-link: color(red, 40) !default;
$color-state-error-hover-background: color(red, 40) !default;
$color-state-error-hover-text: color(white) !default;
$color-state-error-spinner: color(red, 40) !default;
$color-state-info-background: color(blue, 98) !default;
$color-state-info-background-alt: color(blue, 95) !default;
$color-state-info-border: color(blue) !default;
$color-state-info-text: color(grey, 20) !default;
$color-state-info-accent: color(blue, 30) !default;
$color-state-info-link: color(blue, 40) !default;
$color-state-info-hover-background: color(blue) !default;
$color-state-info-hover-text: color(white) !default;
$color-state-info-spinner: color(blue, 30) !default;
$color-state-success-background: color(green, 95) !default;
$color-state-success-background-alt: color(green, 90) !default;
$color-state-success-border: color(green, 30) !default;
$color-state-success-text: color(grey, 20) !default;
$color-state-success-accent: color(green, 20) !default;
$color-state-success-link: color(green, 20) !default;
$color-state-success-hover-background: color(green, 30) !default;
$color-state-success-hover-text: color(white) !default;
$color-state-success-spinner: color(green, 30) !default;
$color-state-warning-background: color(orange, 95) !default;
$color-state-warning-background-alt: color(orange, 90) !default;
$color-state-warning-border: color(orange) !default;
$color-state-warning-text: color(grey, 20) !default;
$color-state-warning-accent: color(orange, 30) !default;
$color-state-warning-link: color(orange, 30) !default;
$color-state-warning-hover-background: color(orange) !default;
$color-state-warning-hover-text: color(white) !default;
$color-state-warning-spinner: color(orange) !default;