$font-path: '../node_modules/@usitc/usitc-ds/src/compiled-assets/fonts' !default;
$font-family-files: (Raleway: (light: (weight: 300, style: normal, stretch: normal), lightitalic: (weight: 300, style: italic, stretch: normal), bold: (weight: 700, style: normal, stretch: normal), bolditalic: (weight: 700, style: italic, stretch: normal), black: (weight: 900, style: normal, stretch: normal), blackitalic: (weight: 900, style: italic, stretch: normal)));
$font-family-base: Raleway, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Arial, sans-serif !default;
$font-family-mono: 'Operator Mono', Hack, Consolas, Menlo, Monaco, 'Ubuntu Mono', 'Courier New', Courier, monospace !default;
$font-weight-normal: 300 !default;
$font-weight-bold: 700 !default;
$font-weight-black: 900 !default;
$font-size-root: 10px !default;
$font-size-base: 1.6rem !default;
$font-size-scale-ratio: 1.2 !default;
$font-size-xxs: ms(-3);
$font-size-xs: ms(-2);
$font-size-s: ms(-1);
$font-size-m: ms(0);
$font-size-l: ms(1);
$font-size-xl: ms(2);
$font-size-xxl: ms(3);
$font-size-xxxl: ms(4);
$font-size-xxxxl: ms(5);
$font-size-h1: $font-size-xxxxl !default;
$font-size-h2: $font-size-xxxl !default;
$font-size-h3: $font-size-xxl !default;
$font-size-h4: $font-size-xl !default;
$font-size-h5: $font-size-l !default;
$font-size-h6: $font-size-m !default;
$line-height-base: 1.5 !default;
$line-height-header: 1.25 !default;
$line-height-button: 1 !default;
$line-height-form: 5rem !default;
$max-line-length: 50em !default;