$space-base: 1rem !default;
$space-xxs: $space-base / 3 !default;
$space-xs: $space-base / 2 !default;
$space-s: $space-base !default;
$space-m: $space-base * 2 !default;
$space-l: $space-base * 3 !default;
$space-xl: $space-base * 4 !default;
$space-xxl: $space-base * 6 !default;
$space-xxxl: $space-base * 8 !default;
$space-xxxxl: $space-base * 12 !default;
$space-xxxxxl: $space-base * 16 !default;
$space-stack-xxs: 0 0 $space-xxs 0;
$space-stack-xs: 0 0 $space-xs 0;
$space-stack-s: 0 0 $space-s 0;
$space-stack-m: 0 0 $space-m 0;
$space-stack-l: 0 0 $space-l 0;
$space-stack-xl: 0 0 $space-xl 0;
$space-stack-xxl: 0 0 $space-xxl 0;
$space-stack-xxxl: 0 0 $space-xxxl 0;
$space-stack-xxxxl: 0 0 $space-xxxxl 0;
$space-stack-xxxxxl: 0 0 $space-xxxxxl 0;
$space-inline-xxs: 0 $space-xxs 0 0;
$space-inline-xs: 0 $space-xs 0 0;
$space-inline-s: 0 $space-s 0 0;
$space-inline-m: 0 $space-m 0 0;
$space-inline-l: 0 $space-l 0 0;
$space-inline-xl: 0 $space-xl 0 0;
$space-inline-xxl: 0 $space-xxl 0 0;
$space-inline-xxxl: 0 $space-xxxl 0 0;
$space-inline-xxxxl: 0 $space-xxxxl 0 0;
$space-inline-xxxxxl: 0 $space-xxxxxl 0 0;