$space-xxs: $font-size-base / 8;
$space-xs: $font-size-base / 4;
$space-s: $font-size-base / 2;
$space-m: $font-size-base;
$space-l: $font-size-base * 2;
$space-xl: $font-size-base * 4;
$space-xxl: $font-size-base * 8;
$space-xxxl: $font-size-base * 12;
$space-stack-xxs: 0 0 $space-xxs 0;
$space-stack-xs: 0 0 $space-xs 0;
$space-stack-s: 0 0 $space-s 0;
$space-stack-m: 0 0 $space-m 0;
$space-stack-l: 0 0 $space-l 0;
$space-stack-xl: 0 0 $space-xl 0;
$space-stack-xxl: 0 0 $space-xxl 0;
$space-stack-xxxl: 0 0 $space-xxxl 0;
$space-inline-xxs: 0 $space-xxs 0 0;
$space-inline-xs: 0 $space-xs 0 0;
$space-inline-s: 0 $space-s 0 0;
$space-inline-m: 0 $space-m 0 0;
$space-inline-l: 0 $space-l 0 0;
$space-inline-xl: 0 $space-xl 0 0;
$space-inline-xxl: 0 $space-xxl 0 0;
$space-inline-xxxl: 0 $space-xxxl 0 0;