$transition-base: all 0.25s ease-in-out !default;
$transition-base-time: 0.25s !default;
$transition-base-easing: ease-in-out !default;
$transition-long-time: 0.75s !default;
$transition-max: 99rem !default;