$form-control-default-left: -2px !default;
$form-control-default-size: 40px !default;
$form-control-default-size-inner: 26px !default;
$form-control-default-top: -2px !default;
$form-control-checkbox-position: 6px 7px !default;
$form-control-checkbox-bust-left: -2px !default;
$form-control-checkbox-bust-margin-top: -10px !default;
$form-control-checkbox-bust-position: 5px 2px !default;
$form-control-checkbox-bust-size: 50px !default;
$form-control-checkbox-bust-size-inner: 44px !default;
$form-control-checkbox-bust-top: -2px !default;