$icon-size-base: 0.75em;
$icon-size-scale-ratio: 1.5;
$icon-size-xxxxs: msi(-5);
$icon-size-xxxs: msi(-4);
$icon-size-xxs: msi(-3);
$icon-size-xs: msi(-2);
$icon-size-s: msi(-1);
$icon-size-m: msi(0);
$icon-size-l: msi(1);
$icon-size-xl: msi(2);
$icon-size-xxl: msi(3);
$icon-size-xxxl: msi(4);
$icon-size-xxxxl: msi(5);