$off-canvas-height: 100vh !default;
$off-canvas-shadow: 5px 0 10px 0 color(black, 0, 25) !default;
$off-canvas-transition: left 0.75s ease-in-out !default;
$off-canvas-width: 250px !default;
$off-canvas-open-at: xxxl !default;