// 888
// 888
// 888
// 88888b.   .d88b.  888  888  .d88b.  .d8888b
// 888 "88b d88""88b `Y8bd8P' d8P  Y8b 88K
// 888  888 888  888   X88K   88888888 "Y8888b.
// 888 d88P Y88..88P .d8""8b. Y8b.          X88
// 88888P"   "Y88P"  888  888  "Y8888   88888P'

.box-header {
	background-color: $color-blue;
	color: $color-white;
	font-size: $font-size-s;
	font-weight: $font-weight-bold;
	margin-bottom: 0;
	padding: $space-s;

	+ .boxed {
		border-color: $color-blue;
	}
}

.box-header-button-right {
	align-items: center;
	justify-content: space-between;
	display: flex;
}

.boxed {
	border: $border-base;
	max-height: 400px;
	min-height: $space-l;
	overflow-y: scroll;
	padding: 0;

	&.boxed-150 {
		height: auto;
		max-height: 150px;
	}

	&.boxed-200 {
		height: auto;
		max-height: 200px;
	}

	&.boxed-250 {
		height: auto;
		max-height: 250px;
	}

	&.boxed-300 {
		height: auto;
		max-height: 300px;
	}

	&.boxed-350 {
		height: auto;
		max-height: 350px;
	}

	> li {
		list-style: none;
		margin-bottom: 0;
		padding: $space-s;

		&:nth-child(even) {
			background-color: $color-gray-lighter;
		}
	}

	+ .box-header {
		margin-top: $space-m;
	}

	.button-s.button-icon {
		padding: $space-s;

		> i {
			margin-left: -8px;
			margin-top: -8px;

			> * {
				height: 16px !important;
				width: 16px !important;
			}
		}
	}
}

.boxed-wrapper-single {
	margin-top: 38px;
}

.boxed-wrapper-double {
	margin-top: 72px;
}

.panel {
	background-color: $color-blue-lighter;
	margin-bottom: $space-m;
	padding: $space-m;

	> *:last-child {
		margin-bottom: 0;
	}

	ul {
		padding: 0 $space-m;

		li:only-child {
			list-style: none;
			text-align: center;
		}
	}
}

.panel-header,
.panel-header:first-child {
	background-color: $color-blue;
	color: $color-white;
	font-size: $font-size-m;
	margin: (-$space-m) (-$space-m) $space-m;
	padding: $space-s $space-m;
	text-align: center;
}
