// 888
// 888
// 888
// 88888b.   .d88b.  888  888  .d88b.  .d8888b
// 888 "88b d88""88b `Y8bd8P' d8P  Y8b 88K
// 888  888 888  888   X88K   88888888 "Y8888b.
// 888 d88P Y88..88P .d8""8b. Y8b.          X88
// 88888P"   "Y88P"  888  888  "Y8888   88888P'

.box-header {
  background-color: color(cyan, 30);
  color: color(white);
  font-size: $font-size-s;
  font-weight: $font-weight-bold;
  margin-bottom: 0;
  padding: $space-s;

  + .boxed {
    border-color: color(cyan, 30);
  }
}

.box-header-button-right {
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.boxed {
  border: $border-base;
  max-height: 400px;
  min-height: $space-l;
  overflow-y: scroll;
  padding: 0;

  &.boxed-150 {
    height: auto;
    max-height: 150px;
  }

  &.boxed-200 {
    height: auto;
    max-height: 200px;
  }

  &.boxed-250 {
    height: auto;
    max-height: 250px;
  }

  &.boxed-300 {
    height: auto;
    max-height: 300px;
  }

  &.boxed-350 {
    height: auto;
    max-height: 350px;
  }

  &.boxed-with-id {
    > li {
      display: flex;
      padding: 0;

      > * {
        padding: $space-s;
      }

      > .boxed-id {
        background-color: color(black, 0, 2);
        text-align: center;
        width: $space-xl;
      }
    }
  }

  > li {
    list-style: none;
    margin-bottom: 0;
    padding: $space-s;

    &:nth-child(even) {
      background-color: color(grey, 95);
    }
  }

  + .box-header {
    margin-top: $space-m;
  }

  .button-s.button-icon {
    padding: $space-s;

    > i {
      margin-left: -8px;
      margin-top: -8px;

      > * {
        height: 16px !important;
        width: 16px !important;
      }
    }
  }
}

.boxed-wrapper-single {
  margin-top: 38px;
}

.boxed-wrapper-double {
  margin-top: 72px;
}

.controls-boxed-grid {
  align-items: stretch;
  display: grid;
  grid-template-columns: auto;

  &.controls-boxed-grid-2 {
    @include breakpoint(m) {
      grid-template-columns: min-content auto;
    }

    > * {
      &:nth-child(4n + 3),
      &:nth-child(4n + 4) {
        background-color: color(grey, 95);
      }
    }
  }

  &.controls-boxed-grid-3 {
    @include breakpoint(m) {
      grid-template-columns: min-content auto min-content;
    }

    > * {
      &:nth-child(6n + 4),
      &:nth-child(6n + 5),
      &:nth-child(6n + 6) {
        background-color: color(grey, 95);
      }
    }
  }

  > * {
    align-items: center;
    display: grid;
    padding: $space-s;
  }
}

.controls-boxed-header {
  color: color(cyan, 30);
  cursor: pointer;
  font-size: $font-size-l;
  font-weight: $font-weight-bold;
  margin: 0;
  padding: $space-s;

  &:nth-child(even) {
    background-color: color(grey, 95);
  }

  &:active,
  &:focus,
  &:hover,
  &.current {
    background-color: color(cyan, 30);
    color: color(white);
  }

  &.current {
    position: sticky;
    top: 0;
    z-index: 2;
  }
}

.group-object-name {
  font-size: $font-size-xs;
  padding-bottom: $space-s;
  text-align: center;

  @include breakpoint(m) {
    text-align: left;
  }
}

.group-object-value {
  font-size: $font-size-xs;
  font-weight: $font-weight-bold;
  padding-bottom: 0;
  text-align: center;

  @include breakpoint(m) {
    border-right: 1px solid #b3b1b4;
    padding-bottom: $space-s;
  }
}

.ind-comm {
  align-items: center;
  border-bottom: 1px solid color(black, 0, 10);

  @include breakpoint(m) {
    display: flex;
  }
}

.ind-comm-value {
  font-size: $font-size-xs;
  font-weight: $font-weight-bold;
  padding: $space-xs $space-s 0;
  text-align: center;

  @include breakpoint(m) {
    border-right: 1px solid color(black, 0, 10);
    flex: 0 0 auto;
    padding: $space-s;
    text-align: left;
    width: 120px;
  }
}

.ind-comm-name {
  padding: $space-xs $space-s;
  text-align: center;

  @include breakpoint(m) {
    flex: 1 1 100%;
    text-align: left;
  }
}

.ind-comm-button {
  padding: $space-xs $space-s $space-s;
  text-align: center;

  @include breakpoint(m) {
    flex: 0 0 auto;
    padding: $space-xs $space-s;
    text-align: right;
  }

  button {
    font-size: $font-size-xs;
    padding: $space-xs;
  }
}

.panel {
  @include state-info;
  margin-bottom: $space-m;
  padding: $space-m;

  > *:last-child {
    margin-bottom: 0;
  }

  ul {
    padding: 0 $space-m;

    li:only-child {
      list-style: none;
      text-align: center;
    }
  }
}

.panel-header,
.panel-header:first-child {
  font-size: $font-size-m;
  font-weight: $font-weight-bold;
  margin: (-$space-m) (-$space-m) $space-m;
  padding: $space-s $space-m;

  .padding-none & {
    margin: 0;
  }
}
