%svg-common {
	background: url("icons-6c702a26.svg") no-repeat;
}

.icon-africa {
	@extend %svg-common;
	background-position: 14.285714285714286% 0;
}

.icon-africa-dims {
	width: 1000px;
	height: 1000px;
}

.icon-alert {
	@extend %svg-common;
	background-position: 71.42857142857143% 0;
}

.icon-alert-dims {
	width: 1000px;
	height: 1000px;
}

.icon-arrow-down {
	@extend %svg-common;
	background-position: 0 16.666666666666668%;
}

.icon-arrow-down-dims {
	width: 1000px;
	height: 1000px;
}

.icon-arrow-down-circle {
	@extend %svg-common;
	background-position: 14.285714285714286% 16.666666666666668%;
}

.icon-arrow-down-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-arrow-left {
	@extend %svg-common;
	background-position: 28.571428571428573% 0;
}

.icon-arrow-left-dims {
	width: 1000px;
	height: 1000px;
}

.icon-arrow-left-circle {
	@extend %svg-common;
	background-position: 28.571428571428573% 16.666666666666668%;
}

.icon-arrow-left-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-arrow-right {
	@extend %svg-common;
	background-position: 0 33.333333333333336%;
}

.icon-arrow-right-dims {
	width: 1000px;
	height: 1000px;
}

.icon-arrow-right-circle {
	@extend %svg-common;
	background-position: 14.285714285714286% 33.333333333333336%;
}

.icon-arrow-right-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-arrow-up {
	@extend %svg-common;
	background-position: 28.571428571428573% 33.333333333333336%;
}

.icon-arrow-up-dims {
	width: 1000px;
	height: 1000px;
}

.icon-arrow-up-circle {
	@extend %svg-common;
	background-position: 42.857142857142854% 0;
}

.icon-arrow-up-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-back {
	@extend %svg-common;
	background-position: 42.857142857142854% 16.666666666666668%;
}

.icon-back-dims {
	width: 1000px;
	height: 1000px;
}

.icon-back-to-start {
	@extend %svg-common;
	background-position: 42.857142857142854% 33.333333333333336%;
}

.icon-back-to-start-dims {
	width: 1000px;
	height: 1000px;
}

.icon-chart-upward {
	@extend %svg-common;
	background-position: 0 50%;
}

.icon-chart-upward-dims {
	width: 1000px;
	height: 1000px;
}

.icon-check {
	@extend %svg-common;
	background-position: 14.285714285714286% 50%;
}

.icon-check-dims {
	width: 1000px;
	height: 1000px;
}

.icon-check-circle {
	@extend %svg-common;
	background-position: 28.571428571428573% 50%;
}

.icon-check-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-chevron-down {
	@extend %svg-common;
	background-position: 42.857142857142854% 50%;
}

.icon-chevron-down-dims {
	width: 1000px;
	height: 1000px;
}

.icon-chevron-down-circle {
	@extend %svg-common;
	background-position: 57.142857142857146% 0;
}

.icon-chevron-down-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-chevron-left {
	@extend %svg-common;
	background-position: 57.142857142857146% 16.666666666666668%;
}

.icon-chevron-left-dims {
	width: 1000px;
	height: 1000px;
}

.icon-chevron-left-circle {
	@extend %svg-common;
	background-position: 57.142857142857146% 33.333333333333336%;
}

.icon-chevron-left-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-chevron-right {
	@extend %svg-common;
	background-position: 57.142857142857146% 50%;
}

.icon-chevron-right-dims {
	width: 1000px;
	height: 1000px;
}

.icon-chevron-right-circle {
	@extend %svg-common;
	background-position: 0 66.66666666666667%;
}

.icon-chevron-right-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-chevron-up {
	@extend %svg-common;
	background-position: 14.285714285714286% 66.66666666666667%;
}

.icon-chevron-up-dims {
	width: 1000px;
	height: 1000px;
}

.icon-chevron-up-circle {
	@extend %svg-common;
	background-position: 28.571428571428573% 66.66666666666667%;
}

.icon-chevron-up-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-circle {
	@extend %svg-common;
	background-position: 42.857142857142854% 66.66666666666667%;
}

.icon-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-circle-open {
	@extend %svg-common;
	background-position: 57.142857142857146% 66.66666666666667%;
}

.icon-circle-open-dims {
	width: 1000px;
	height: 1000px;
}

.icon-copy {
	@extend %svg-common;
	background-position: 0 0;
}

.icon-copy-dims {
	width: 1000px;
	height: 1000px;
}

.icon-copy-to-clipboard {
	@extend %svg-common;
	background-position: 71.42857142857143% 16.666666666666668%;
}

.icon-copy-to-clipboard-dims {
	width: 1000px;
	height: 1000px;
}

.icon-database {
	@extend %svg-common;
	background-position: 71.42857142857143% 33.333333333333336%;
}

.icon-database-dims {
	width: 1000px;
	height: 1000px;
}

.icon-download {
	@extend %svg-common;
	background-position: 71.42857142857143% 50%;
}

.icon-download-dims {
	width: 1000px;
	height: 1000px;
}

.icon-edit {
	@extend %svg-common;
	background-position: 71.42857142857143% 66.66666666666667%;
}

.icon-edit-dims {
	width: 1000px;
	height: 1000px;
}

.icon-forward {
	@extend %svg-common;
	background-position: 0 83.33333333333333%;
}

.icon-forward-dims {
	width: 1000px;
	height: 1000px;
}

.icon-forward-to-end {
	@extend %svg-common;
	background-position: 14.285714285714286% 83.33333333333333%;
}

.icon-forward-to-end-dims {
	width: 1000px;
	height: 1000px;
}

.icon-globe {
	@extend %svg-common;
	background-position: 28.571428571428573% 83.33333333333333%;
}

.icon-globe-dims {
	width: 1000px;
	height: 1000px;
}

.icon-globe-with-marker {
	@extend %svg-common;
	background-position: 42.857142857142854% 83.33333333333333%;
}

.icon-globe-with-marker-dims {
	width: 1000px;
	height: 1000px;
}

.icon-info {
	@extend %svg-common;
	background-position: 57.142857142857146% 83.33333333333333%;
}

.icon-info-dims {
	width: 1000px;
	height: 1000px;
}

.icon-link {
	@extend %svg-common;
	background-position: 71.42857142857143% 83.33333333333333%;
}

.icon-link-dims {
	width: 1000px;
	height: 1000px;
}

.icon-menu {
	@extend %svg-common;
	background-position: 85.71428571428571% 0;
}

.icon-menu-dims {
	width: 1000px;
	height: 1000px;
}

.icon-minus {
	@extend %svg-common;
	background-position: 85.71428571428571% 16.666666666666668%;
}

.icon-minus-dims {
	width: 1000px;
	height: 1000px;
}

.icon-minus-circle {
	@extend %svg-common;
	background-position: 85.71428571428571% 33.333333333333336%;
}

.icon-minus-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-plus {
	@extend %svg-common;
	background-position: 85.71428571428571% 50%;
}

.icon-plus-dims {
	width: 1000px;
	height: 1000px;
}

.icon-plus-circle {
	@extend %svg-common;
	background-position: 85.71428571428571% 66.66666666666667%;
}

.icon-plus-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-save {
	@extend %svg-common;
	background-position: 85.71428571428571% 83.33333333333333%;
}

.icon-save-dims {
	width: 1000px;
	height: 1000px;
}

.icon-search {
	@extend %svg-common;
	background-position: 0 100%;
}

.icon-search-dims {
	width: 1000px;
	height: 1000px;
}

.icon-settings {
	@extend %svg-common;
	background-position: 14.285714285714286% 100%;
}

.icon-settings-dims {
	width: 1000px;
	height: 1000px;
}

.icon-shaking-hands {
	@extend %svg-common;
	background-position: 28.571428571428573% 100%;
}

.icon-shaking-hands-dims {
	width: 1000px;
	height: 1000px;
}

.icon-share {
	@extend %svg-common;
	background-position: 42.857142857142854% 100%;
}

.icon-share-dims {
	width: 1000px;
	height: 1000px;
}

.icon-table {
	@extend %svg-common;
	background-position: 57.142857142857146% 100%;
}

.icon-table-dims {
	width: 1000px;
	height: 1000px;
}

.icon-trash {
	@extend %svg-common;
	background-position: 71.42857142857143% 100%;
}

.icon-trash-dims {
	width: 1000px;
	height: 1000px;
}

.icon-user {
	@extend %svg-common;
	background-position: 85.71428571428571% 100%;
}

.icon-user-dims {
	width: 1000px;
	height: 1000px;
}

.icon-x {
	@extend %svg-common;
	background-position: 100% 0;
}

.icon-x-dims {
	width: 1000px;
	height: 1000px;
}

.icon-x-circle {
	@extend %svg-common;
	background-position: 100% 16.666666666666668%;
}

.icon-x-circle-dims {
	width: 1000px;
	height: 1000px;
}

