%svg-common {
	background: url("icons-5d5e64ab.svg") no-repeat;
}

.icon-africa {
	@extend %svg-common;
	background-position: 12.5% 0;
}

.icon-africa-dims {
	width: 1000px;
	height: 1000px;
}

.icon-alert {
	@extend %svg-common;
	background-position: 37.5% 71.42857142857143%;
}

.icon-alert-dims {
	width: 1000px;
	height: 1000px;
}

.icon-arrow-down {
	@extend %svg-common;
	background-position: 0 14.285714285714286%;
}

.icon-arrow-down-dims {
	width: 1000px;
	height: 1000px;
}

.icon-arrow-down-circle {
	@extend %svg-common;
	background-position: 12.5% 14.285714285714286%;
}

.icon-arrow-down-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-arrow-left {
	@extend %svg-common;
	background-position: 25% 0;
}

.icon-arrow-left-dims {
	width: 1000px;
	height: 1000px;
}

.icon-arrow-left-circle {
	@extend %svg-common;
	background-position: 25% 14.285714285714286%;
}

.icon-arrow-left-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-arrow-right {
	@extend %svg-common;
	background-position: 0 28.571428571428573%;
}

.icon-arrow-right-dims {
	width: 1000px;
	height: 1000px;
}

.icon-arrow-right-circle {
	@extend %svg-common;
	background-position: 12.5% 28.571428571428573%;
}

.icon-arrow-right-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-arrow-up {
	@extend %svg-common;
	background-position: 25% 28.571428571428573%;
}

.icon-arrow-up-dims {
	width: 1000px;
	height: 1000px;
}

.icon-arrow-up-circle {
	@extend %svg-common;
	background-position: 37.5% 0;
}

.icon-arrow-up-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-australia {
	@extend %svg-common;
	background-position: 37.5% 14.285714285714286%;
}

.icon-australia-dims {
	width: 1000px;
	height: 1000px;
}

.icon-back {
	@extend %svg-common;
	background-position: 37.5% 28.571428571428573%;
}

.icon-back-dims {
	width: 1000px;
	height: 1000px;
}

.icon-back-to-start {
	@extend %svg-common;
	background-position: 0 42.857142857142854%;
}

.icon-back-to-start-dims {
	width: 1000px;
	height: 1000px;
}

.icon-bahrain {
	@extend %svg-common;
	background-position: 12.5% 42.857142857142854%;
}

.icon-bahrain-dims {
	width: 1000px;
	height: 1000px;
}

.icon-chart-upward {
	@extend %svg-common;
	background-position: 25% 42.857142857142854%;
}

.icon-chart-upward-dims {
	width: 1000px;
	height: 1000px;
}

.icon-check {
	@extend %svg-common;
	background-position: 37.5% 42.857142857142854%;
}

.icon-check-dims {
	width: 1000px;
	height: 1000px;
}

.icon-check-circle {
	@extend %svg-common;
	background-position: 50% 0;
}

.icon-check-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-chevron-down {
	@extend %svg-common;
	background-position: 50% 14.285714285714286%;
}

.icon-chevron-down-dims {
	width: 1000px;
	height: 1000px;
}

.icon-chevron-down-circle {
	@extend %svg-common;
	background-position: 50% 28.571428571428573%;
}

.icon-chevron-down-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-chevron-left {
	@extend %svg-common;
	background-position: 50% 42.857142857142854%;
}

.icon-chevron-left-dims {
	width: 1000px;
	height: 1000px;
}

.icon-chevron-left-circle {
	@extend %svg-common;
	background-position: 0 57.142857142857146%;
}

.icon-chevron-left-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-chevron-right {
	@extend %svg-common;
	background-position: 12.5% 57.142857142857146%;
}

.icon-chevron-right-dims {
	width: 1000px;
	height: 1000px;
}

.icon-chevron-right-circle {
	@extend %svg-common;
	background-position: 25% 57.142857142857146%;
}

.icon-chevron-right-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-chevron-up {
	@extend %svg-common;
	background-position: 37.5% 57.142857142857146%;
}

.icon-chevron-up-dims {
	width: 1000px;
	height: 1000px;
}

.icon-chevron-up-circle {
	@extend %svg-common;
	background-position: 50% 57.142857142857146%;
}

.icon-chevron-up-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-chile {
	@extend %svg-common;
	background-position: 62.5% 0;
}

.icon-chile-dims {
	width: 1000px;
	height: 1000px;
}

.icon-circle {
	@extend %svg-common;
	background-position: 62.5% 14.285714285714286%;
}

.icon-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-circle-open {
	@extend %svg-common;
	background-position: 62.5% 28.571428571428573%;
}

.icon-circle-open-dims {
	width: 1000px;
	height: 1000px;
}

.icon-colombia {
	@extend %svg-common;
	background-position: 62.5% 42.857142857142854%;
}

.icon-colombia-dims {
	width: 1000px;
	height: 1000px;
}

.icon-copy {
	@extend %svg-common;
	background-position: 62.5% 57.142857142857146%;
}

.icon-copy-dims {
	width: 1000px;
	height: 1000px;
}

.icon-copy-to-clipboard {
	@extend %svg-common;
	background-position: 0 71.42857142857143%;
}

.icon-copy-to-clipboard-dims {
	width: 1000px;
	height: 1000px;
}

.icon-database {
	@extend %svg-common;
	background-position: 12.5% 71.42857142857143%;
}

.icon-database-dims {
	width: 1000px;
	height: 1000px;
}

.icon-dominican-republic {
	@extend %svg-common;
	background-position: 25% 71.42857142857143%;
}

.icon-dominican-republic-dims {
	width: 1000px;
	height: 1000px;
}

.icon-download {
	@extend %svg-common;
	background-position: 0 0;
}

.icon-download-dims {
	width: 1000px;
	height: 1000px;
}

.icon-edit {
	@extend %svg-common;
	background-position: 50% 71.42857142857143%;
}

.icon-edit-dims {
	width: 1000px;
	height: 1000px;
}

.icon-external {
	@extend %svg-common;
	background-position: 62.5% 71.42857142857143%;
}

.icon-external-dims {
	width: 1000px;
	height: 1000px;
}

.icon-file-csv {
	@extend %svg-common;
	background-position: 75% 0;
}

.icon-file-csv-dims {
	width: 1000px;
	height: 1000px;
}

.icon-file-zip {
	@extend %svg-common;
	background-position: 75% 14.285714285714286%;
}

.icon-file-zip-dims {
	width: 1000px;
	height: 1000px;
}

.icon-forward {
	@extend %svg-common;
	background-position: 75% 28.571428571428573%;
}

.icon-forward-dims {
	width: 1000px;
	height: 1000px;
}

.icon-forward-to-end {
	@extend %svg-common;
	background-position: 75% 42.857142857142854%;
}

.icon-forward-to-end-dims {
	width: 1000px;
	height: 1000px;
}

.icon-globe {
	@extend %svg-common;
	background-position: 75% 57.142857142857146%;
}

.icon-globe-dims {
	width: 1000px;
	height: 1000px;
}

.icon-globe-with-marker {
	@extend %svg-common;
	background-position: 75% 71.42857142857143%;
}

.icon-globe-with-marker-dims {
	width: 1000px;
	height: 1000px;
}

.icon-info {
	@extend %svg-common;
	background-position: 0 85.71428571428571%;
}

.icon-info-dims {
	width: 1000px;
	height: 1000px;
}

.icon-link {
	@extend %svg-common;
	background-position: 12.5% 85.71428571428571%;
}

.icon-link-dims {
	width: 1000px;
	height: 1000px;
}

.icon-menu {
	@extend %svg-common;
	background-position: 25% 85.71428571428571%;
}

.icon-menu-dims {
	width: 1000px;
	height: 1000px;
}

.icon-minus {
	@extend %svg-common;
	background-position: 37.5% 85.71428571428571%;
}

.icon-minus-dims {
	width: 1000px;
	height: 1000px;
}

.icon-minus-circle {
	@extend %svg-common;
	background-position: 50% 85.71428571428571%;
}

.icon-minus-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-morocco {
	@extend %svg-common;
	background-position: 62.5% 85.71428571428571%;
}

.icon-morocco-dims {
	width: 1000px;
	height: 1000px;
}

.icon-oman {
	@extend %svg-common;
	background-position: 75% 85.71428571428571%;
}

.icon-oman-dims {
	width: 1000px;
	height: 1000px;
}

.icon-panama {
	@extend %svg-common;
	background-position: 87.5% 0;
}

.icon-panama-dims {
	width: 1000px;
	height: 1000px;
}

.icon-peru {
	@extend %svg-common;
	background-position: 87.5% 14.285714285714286%;
}

.icon-peru-dims {
	width: 1000px;
	height: 1000px;
}

.icon-plus {
	@extend %svg-common;
	background-position: 87.5% 28.571428571428573%;
}

.icon-plus-dims {
	width: 1000px;
	height: 1000px;
}

.icon-plus-circle {
	@extend %svg-common;
	background-position: 87.5% 42.857142857142854%;
}

.icon-plus-circle-dims {
	width: 1000px;
	height: 1000px;
}

.icon-question {
	@extend %svg-common;
	background-position: 87.5% 57.142857142857146%;
}

.icon-question-dims {
	width: 1000px;
	height: 1000px;
}

.icon-save {
	@extend %svg-common;
	background-position: 87.5% 71.42857142857143%;
}

.icon-save-dims {
	width: 1000px;
	height: 1000px;
}

.icon-search {
	@extend %svg-common;
	background-position: 87.5% 85.71428571428571%;
}

.icon-search-dims {
	width: 1000px;
	height: 1000px;
}

.icon-settings {
	@extend %svg-common;
	background-position: 0 100%;
}

.icon-settings-dims {
	width: 1000px;
	height: 1000px;
}

.icon-shaking-hands {
	@extend %svg-common;
	background-position: 12.5% 100%;
}

.icon-shaking-hands-dims {
	width: 1000px;
	height: 1000px;
}

.icon-share {
	@extend %svg-common;
	background-position: 25% 100%;
}

.icon-share-dims {
	width: 1000px;
	height: 1000px;
}

.icon-singapore {
	@extend %svg-common;
	background-position: 37.5% 100%;
}

.icon-singapore-dims {
	width: 1000px;
	height: 1000px;
}

.icon-south-korea {
	@extend %svg-common;
	background-position: 50% 100%;
}

.icon-south-korea-dims {
	width: 1000px;
	height: 1000px;
}

.icon-table {
	@extend %svg-common;
	background-position: 62.5% 100%;
}

.icon-table-dims {
	width: 1000px;
	height: 1000px;
}

.icon-trash {
	@extend %svg-common;
	background-position: 75% 100%;
}

.icon-trash-dims {
	width: 1000px;
	height: 1000px;
}

.icon-user {
	@extend %svg-common;
	background-position: 87.5% 100%;
}

.icon-user-dims {
	width: 1000px;
	height: 1000px;
}

.icon-x {
	@extend %svg-common;
	background-position: 100% 0;
}

.icon-x-dims {
	width: 1000px;
	height: 1000px;
}

.icon-x-circle {
	@extend %svg-common;
	background-position: 100% 14.285714285714286%;
}

.icon-x-circle-dims {
	width: 1000px;
	height: 1000px;
}

