// 888                                                                 888
// 888                                                                 888
// 888                                                                 888
// 888888 888  888 88888b.   .d88b.   .d88b.  888d888 8888b.  88888b.  88888b.  888  888
// 888    888  888 888 "88b d88""88b d88P"88b 888P"      "88b 888 "88b 888 "88b 888  888
// 888    888  888 888  888 888  888 888  888 888    .d888888 888  888 888  888 888  888
// Y88b.  Y88b 888 888 d88P Y88..88P Y88b 888 888    888  888 888 d88P 888  888 Y88b 888
//  "Y888  "Y88888 88888P"   "Y88P"   "Y88888 888    "Y888888 88888P"  888  888  "Y88888
//             888 888                    888                 888                    888
//        Y8b d88P 888               Y8b d88P                 888               Y8b d88P
//         "Y88P"  888                "Y88P"                  888                "Y88P"

.bold {
	font-weight: $font-weight-bold;
}

.text-crop {
	@include text-crop($line-height-base);
}

.text-crop-button {
	@include text-crop($line-height-button);
}

.text-crop-header {
	@include text-crop($line-height-header);
}

.text-center {
	display: block;
	text-align: center;
}

.text-left {
	display: block;
	text-align: left;
}

.text-right {
	display: block;
	text-align: right;
}

.unbold {
	font-weight: $font-weight-normal !important;
}

.uppercase {
	text-transform: uppercase;
}

.max-line {
	blockquote,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	li,
	p {
		max-width: $max-line-length;
	}
}
