// 888                             888
// 888                             888
// 888                             888
// 88888b.   .d88b.   8888b.   .d88888  .d88b.  888d888
// 888 "88b d8P  Y8b     "88b d88" 888 d8P  Y8b 888P"
// 888  888 88888888 .d888888 888  888 88888888 888
// 888  888 Y8b.     888  888 Y88b 888 Y8b.     888
// 888  888  "Y8888  "Y888888  "Y88888  "Y8888  888

.site-header {
  background-color: $color-theme-base-background-alt;

  a {
    color: $color-theme-base-text;
    display: inline-block;
    padding: $space-s;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      background-color: $color-theme-dark-background-alt;
      color: $color-theme-dark-text;
    }
  }

  button {
    background-color: transparent;
    border-width: 0;
    color: inherit;
    padding: ($space-s * 0.85) $space-s;

    &:active,
    &:focus,
    &:hover {
      background-color: $color-theme-dark-background-alt;
      color: $color-theme-dark-text;
    }
  }
}

.header-nav {
  display: flex;
  padding: 0 $space-s;

  li {
    list-style: none;
    margin: 0;
  }

  .header-home {
    flex-grow: 1;
  }

  .button-nav {
    @include breakpoint(xxxl) {
      display: none;
    }

    button {
      height: 44px;
      padding: 12px 10px !important;
      width: 44px;

      &:active,
      &:focus,
      &:hover {
        div {
          &,
          &::before,
          &::after {
            background-color: $color-theme-dark-text;
          }
        }
      }

      div {
        margin-top: -2px;
        top: 50%;
        transition-duration: 0.075s;
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

        .site-nav-open & {
          transform: rotate(45deg);
          transition-delay: 0.12s;
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

          &::before {
            opacity: 0;
            top: 0;
            transition: top 0.075s ease, opacity 0.075s 0.12s ease;
          }

          &::after {
            bottom: 0;
            transform: rotate(-90deg);
            transition: bottom 0.075s ease,
              transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
          }
        }

        &,
        &::before,
        &::after {
          background-color: $color-theme-base-text;
          border-radius: 4px;
          height: 4px;
          position: absolute;
          transition-duration: 0.15s;
          transition-property: transform;
          transition-timing-function: ease;
          width: 24px;
        }

        &::before,
        &::after {
          content: '';
          display: block;
        }

        &::before {
          top: -8px;
          transition: top 0.075s 0.12s ease, opacity 0.075s ease;
        }

        &::after {
          bottom: -8px;
          transition: bottom 0.075s 0.12s ease,
            transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        }
      }
    }
  }
}
