// 888                           888
// 888                           888
// 888                           888
// 88888b.   .d88b.  888d888 .d88888  .d88b.  888d888 .d8888b
// 888 "88b d88""88b 888P"  d88" 888 d8P  Y8b 888P"   88K
// 888  888 888  888 888    888  888 88888888 888     "Y8888b.
// 888 d88P Y88..88P 888    Y88b 888 Y8b.     888          X88
// 88888P"   "Y88P"  888     "Y88888  "Y8888  888      88888P'

.bordered {
  border: $border-base;
}

.bordered-bottom {
  border-bottom: $border-base;
}

.bordered-left {
  border-left: $border-base;
}

.bordered-right {
  border-right: $border-base;
}

.bordered-top {
  border-top: $border-base;
}

.bordered-none {
  border-width: 0;
}

.border-bottom-none {
  border-bottom-width: 0 !important;
}

.border-left-none {
  border-left-width: 0 !important;
}

.border-right-none {
  border-right-width: 0 !important;
}

.border-top-none {
  border-top-width: 0 !important;
}
