//          888          888               888
//          888          888               888
//          888          888               888
//  .d88b.  888  .d88b.  88888b.   8888b.  888
// d88P"88b 888 d88""88b 888 "88b     "88b 888
// 888  888 888 888  888 888  888 .d888888 888
// Y88b 888 888 Y88..88P 888 d88P 888  888 888
//  "Y88888 888  "Y88P"  88888P"  "Y888888 888
//      888
// Y8b d88P
//  "Y88P"

html {
	font-size: $font-size-root;
}

body {
	background-color: $color-theme-base-background;
	color: $color-theme-base-text;
	font-family: $font-family-base;
	font-size: $font-size-s;
	font-weight: $font-weight-normal;
	line-height: $line-height-base;
	position: relative;

	&.has-off-canvas {
		overflow: hidden;
	}
}

::selection {
	background-color: $color-state-highlight-background;
	color: $color-state-highlight-text;
	text-shadow: 0;
}

::-moz-selection {
	background-color: $color-state-highlight-background;
	color: $color-state-highlight-text;
	text-shadow: 0;
}

:focus {
	box-shadow: $border-focus;
	outline: 0;
}

::placeholder {
	color: $color-gray-light;
	opacity: 1;
}

a {
	color: $color-blue;
	cursor: pointer;
	text-decoration: underline;
	transition: $transition-base;

	@supports (text-decoration-color: $color-blue) {
		color: inherit;
		text-decoration-color: $color-blue;
	}

	.on-dark & {
		@include link-underline($color-theme-dark-link);
	}

	.on-light & {
		@include link-underline($color-theme-base-link);
	}

	&:active,
	&:focus,
	&:hover {
		background-color: $color-theme-base-hover-background;
		color: $color-theme-base-hover-text;

		.on-dark & {
			background-color: $color-theme-dark-hover-background;
			color: $color-theme-dark-hover-text;
		}

		.on-light & {
			background-color: $color-theme-base-hover-background;
			color: $color-theme-base-hover-text;
		}
	}
}

app-layout,
app-root {
	min-height: 100vh;
}

article {
	section {
		+ section {
			margin-top: $space-l;
		}
	}
}

dl {
	dt {
		font-weight: $font-weight-bold;
	}

	dd {
		margin-bottom: $space-s;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

p {
	margin-bottom: $space-m;

	&:last-child {
		margin-bottom: 0;
	}
}

table {
	margin-bottom: $space-m;

	&:last-child {
		margin-bottom: 0;
	}

	td,
	th {
		padding: $space-s !important;
	}

	th {
		font-weight: $font-weight-bold;
	}
}

ol,
ul {
	margin-bottom: $space-m;
	padding-left: 1.75rem;

	&:only-child,
	&:last-child li:last-child {
		margin-bottom: 0;
	}

	li {
		margin: 0 0 $space-s;
		list-style: square;
	}

	&.clean {
		padding: 0;

		li {
			list-style: none;
			margin: 0;
		}
	}
}

ol li {
	list-style: decimal;
}

pre {
	background-color: $color-white;
	border: $border-base;
	color: $color-black;
	font-family: $font-family-mono;
	padding: $space-s;
}

.alt {
	background-color: $color-theme-base-background-alt;

	+ .alt > .padded {
		padding-top: 0;
	}
}

.alt2 {
	background-color: $color-gray-lightest;
}

.alt-off {
	background-color: $color-theme-base-background;
}

.alt-blue {
	background-color: $color-blue-lighter;
}

.alt-green {
	background-color: $color-green-lighter;
}

.alt-orange {
	background-color: $color-orange-lighter;
}

.alt-red {
	background-color: $color-red-lighter;
}

.app-version {
	font-size: $font-size-xs;
	font-style: italic;
}

.beta {
	color: $color-red;
}

.body-scrollable {
	overflow: auto;

	.constrained {
		margin-left: 1vw;
		margin-right: 0;
		max-width: 95vw;
	}

	.off-canvas-right {
		display: none;
	}

	.site-content {
		overflow: initial;
	}

	.site-layout {
		grid-template-columns: 400px auto;
		width: calc(100% + 400px);
	}
}

.constrained {
	@include constrained;
}

.disclaimer {
	font-size: $font-size-xs;

	@include breakpoint(m) {
		text-align: right;
	}
}

.nowrap {
	white-space: nowrap;
}

.on-dark {
	background-color: $color-theme-dark-background;
	color: $color-theme-dark-text;

	&.on-dark-alt {
		background-color: $color-theme-dark-background-alt;
	}
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.read-more {
	max-height: $transition-max;
	overflow: hidden;
	transition: max-height $transition-base-time $transition-base-easing;

	&.read-more-hidden {
		max-height: 0;
	}
}

.read-more-content {
	p:last-of-type {
		margin-bottom: 0;
	}

	dt:first-child {
		margin-top: $space-m;
	}
}

.tag-label {
	background-color: $color-gray;
	color: $color-white;
	display: inline-block;
	font-size: $font-size-xxs;
	font-weight: $font-weight-bold;
	line-height: $font-size-xxs;
	margin: 0 $space-xs;
	padding: $space-xxs;
	position: relative;
	top: (-$space-xxs);

	&:first-child {
		margin-left: 0;
	}

	&:last-child {
		margin-right: 0;
	}
}

.visually-hidden {
	height: 1px;
	left: -9999rem;
	overflow: hidden;
	position: absolute;
	top: auto;
	width: 1px;
}
