//          888             888                            d8b      888
//          888             888                            Y8P      888
//          888             888                                     888
// .d8888b  888888 888  888 888  .d88b.   .d88b.  888  888 888  .d88888  .d88b.
// 88K      888    888  888 888 d8P  Y8b d88P"88b 888  888 888 d88" 888 d8P  Y8b
// "Y8888b. 888    888  888 888 88888888 888  888 888  888 888 888  888 88888888
//      X88 Y88b.  Y88b 888 888 Y8b.     Y88b 888 Y88b 888 888 Y88b 888 Y8b.
//  88888P'  "Y888  "Y88888 888  "Y8888   "Y88888  "Y88888 888  "Y88888  "Y8888
//                      888                   888
//                 Y8b d88P              Y8b d88P
//                  "Y88P"                "Y88P"

@import 'styles';
@import 'styleguide/colors';
@import 'styleguide/prism';

.kss-body {
  display: flex;
  min-height: 100vh;

  > app-root {
    width: 100%;

    > .grid {
      min-height: 100vh;
      grid-template-rows: min-content min-content auto;

      @include breakpoint(l) {
        grid-template-rows: min-content auto;
      }
    }
  }

  app-menu {
    display: flex;
  }

  app-parameters {
    + .kss-panel {
      margin-top: $space-m;
    }

    + .kss-source {
      border-top-width: 0;
    }
  }

  section {
    margin: $space-m 0 $space-l;
  }

  .panel {
    h1 {
      font-size: $font-size-m;
      font-weight: $font-weight-bold;
      margin-top: 0;
      text-transform: none;
    }

    pre[class*='language-'] {
      margin-bottom: 0;
    }
  }

  .site-header {
    margin-bottom: 0;

    > nav > ul li.site-name {
      border-bottom-width: 0;
    }
  }
}

.kss-breadcrumb {
  margin: $space-s 0 0;
  padding: 0;

  li {
    display: inline-block;
    list-style: none;
    margin: 0;

    &:last-child a {
      color: color(black);
      text-decoration: none;

      &:active,
      &:focus,
      &:hover {
        color: color(black);
      }
    }

    + li:before {
      color: color(blue, 80);
      content: ' ➔ ';
      padding: 0 $space-s;
    }
  }
}

.kss-description {
  margin-bottom: $space-m;
}

.kss-directive {
  &.panel {
    border-color: color(blue, 30);
    padding: 0;

    .panel-header {
      background-color: color(blue, 30);
      margin: 0;
    }
  }

  pre {
    border-width: 0;
    font-family: $font-family-mono;
    padding: 0;
  }
}

.kss-home {
  pre {
    margin-bottom: $space-m;
  }

  .kss-home-subheader {
    font-size: $font-size-m;
    font-weight: $font-weight-normal;
    text-transform: none;
  }
}

.kss-main {
  padding: $space-m $space-m 0;

  @include breakpoint(l) {
    padding: $space-m $space-l 0;
  }
}

.kss-markup {
  position: relative;

  [ngxClipboard] {
    background-color: color(blue, 40);
    padding: $space-xs;
    position: absolute;
    right: $space-s;
    top: $space-s;

    &:active,
    &:focus,
    &:hover {
      background-color: color(white);
      color: color(blue, 40);
    }
  }
}

.kss-menu {
  padding: $space-m 0;
  width: 100%;

  a {
    color: $color-theme-dark-text;
    display: block;
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
    padding: $space-xs $space-m;
    text-decoration: none;

    &.kss-menu-child {
      font-size: $font-size-m;
      font-weight: $font-weight-normal;
      padding: $space-xxs $space-m $space-xxs $space-l;
    }

    &.kss-menu-active {
      background-color: $color-theme-dark-background;
      color: $color-theme-dark-text;
    }
  }

  li {
    list-style: none;
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

.kss-panel {
  margin: 0;

  + .kss-source {
    border-top-width: 0;
  }

  > :first-child > :last-child {
    margin-bottom: 0;
  }
}

.kss-parameters {
  background-color: $color-state-info-background;
  border: $border-base;
  font-family: $font-family-mono;
  display: grid;
  grid-column-gap: $grid-gap-col;
  grid-row-gap: $space-xs;
  padding: $space-m;

  @include breakpoint(m) {
    grid-template-columns: min-content auto auto;
    grid-template-rows: auto;
  }
}

.kss-parameters-color-sample {
  border: $border-base;
  height: $space-l;
  width: 100%;

  @include breakpoint(m) {
    height: $space-m;
    width: $space-m;
  }

  rect {
    height: 100%;
    width: 100%;
  }
}

.kss-parameters-description {
  color: $color-state-info-accent;
  font-style: italic;
  margin-bottom: $space-m;

  @include breakpoint(m) {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.kss-parameters-var {
  font-weight: $font-weight-bold;
  white-space: nowrap;

  + .kss-parameters-value {
    margin-bottom: $space-m;

    @include breakpoint(m) {
      margin-bottom: 0;
    }
  }
}

.kss-ref {
  display: none;
  float: right;
  font-weight: $font-weight-bold;
}

.kss-section-buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
}

.kss-source {
  padding: $space-s $space-m;
}

.kss-spacer {
  background-color: color(grey, 50, 50);
}

.kss-spacer-grid {
  display: grid;
  grid-column-gap: $grid-gap-col;
  grid-row-gap: $space-xs;

  @include breakpoint(m) {
    grid-template-columns: min-content auto;
    grid-template-rows: auto;
  }

  div {
    white-space: nowrap;
  }
}

.kss-sub-section-links {
  li {
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
  }
}

.kss-swatch {
  border: $border-base;
  bottom: -3px;
  height: $space-m;
  position: relative;
  width: $space-m;

  rect {
    height: 100%;
    width: 100%;
  }
}
