$grid-columns: 12;
$grid-gap-col: $space-m;
$grid-gap-row: $space-m;
$grid-item-sizes-0-full: 12;
$grid-item-sizes-1-three-quarters: 9;
$grid-item-sizes-2-two-thirds: 8;
$grid-item-sizes-3-half: 6;
$grid-item-sizes-4-third: 4;
$grid-item-sizes-5-quarter: 3;
$grid-item-sizes-6-sixth: 2;
$grid-item-sizes-7-twelfth: 1;