$colors: (black: (hue: 0, sat: 0, lum: 0), white: (hue: 0, sat: 0, lum: 100), grey: (hue: 210, sat: 10), red: (hue: 2, sat: 67), orange: (hue: 23, sat: 100), yellow: (hue: 53, sat: 98), green: (hue: 145, sat: 47), cyan: (hue: 191, sat: 84), blue: (hue: 216, sat: 56), purple: (hue: 281, sat: 100));
$color-white: #ffffff;
$color-black: #3a3a3b;
$color-gray: #818386;
$color-gray-dark: #414042;
$color-gray-light: #b3b1b4;
$color-gray-lighter: #e6e7e8;
$color-gray-lightest: #f9f9f9;
$color-blue: #0d7e97;
$color-blue-dark: #004353;
$color-blue-light: #c9e3e8;
$color-blue-lighter: #e4f1f3;
$color-red: #be2a26;
$color-red-dark: #981d20;
$color-red-light: #f0b9b8;
$color-red-lighter: #f7dbdb;
$color-green: #308453;
$color-green-dark: #266942;
$color-green-light: #e8f3e5;
$color-green-lighter: #edf5eb;
$color-orange: #fdb71c;
$color-orange-dark: #835c1b;
$color-orange-light: #fae0af;
$color-orange-lighter: #f3e3c8;
$color-teal: #5c9999;
$color-teal-darker: #447272;
$color-theme-base-background: $color-white;
$color-theme-base-background-alt: $color-gray-lighter;
$color-theme-base-border: $color-gray;
$color-theme-base-text: $color-black;
$color-theme-base-link: $color-blue;
$color-theme-base-hover-background: $color-blue;
$color-theme-base-hover-text: $color-white;
$color-theme-base-spinner: $color-blue;
$color-theme-dark-background: $color-blue-dark;
$color-theme-dark-background-alt: $color-blue;
$color-theme-dark-border: $color-blue-dark;
$color-theme-dark-text: $color-white;
$color-theme-dark-link: $color-white;
$color-theme-dark-hover-background: $color-white;
$color-theme-dark-hover-text: $color-blue;
$color-theme-dark-spinner: $color-white;
$color-state-error-background: $color-red-lighter;
$color-state-error-border: $color-red-dark;
$color-state-error-text: $color-red-dark;
$color-state-error-link: $color-black;
$color-state-error-hover-background: $color-white;
$color-state-error-hover-text: $color-red-dark;
$color-state-info-background: $color-blue-lighter;
$color-state-info-border: $color-blue-dark;
$color-state-info-text: $color-blue-dark;
$color-state-info-link: $color-black;
$color-state-info-hover-background: $color-white;
$color-state-info-hover-text: $color-blue-dark;
$color-state-success-background: $color-green-lighter;
$color-state-success-border: $color-green-dark;
$color-state-success-text: $color-green-dark;
$color-state-success-link: $color-black;
$color-state-success-hover-background: $color-white;
$color-state-success-hover-text: $color-green-dark;
$color-state-warning-background: $color-orange-lighter;
$color-state-warning-border: $color-orange-dark;
$color-state-warning-text: $color-orange-dark;
$color-state-warning-link: $color-black;
$color-state-warning-hover-background: $color-white;
$color-state-warning-hover-text: $color-orange-dark;
$color-state-highlight-background: $color-blue;
$color-state-highlight-text: $color-white;