$form-control-default-left: -2px;
$form-control-default-size: 40px;
$form-control-default-size-inner: 26px;
$form-control-default-top: -2px;
$form-control-checkbox-position: 6px 7px;
$form-control-checkbox-bustout-left: -2px;
$form-control-checkbox-bustout-margin-top: -10px;
$form-control-checkbox-bustout-position: 5px 2px;
$form-control-checkbox-bustout-size: 50px;
$form-control-checkbox-bustout-size-inner: 44px;
$form-control-checkbox-bustout-top: -2px;
$form-read-more-hr-margin: 29px 0 30px;