$font-path: 'assets/fonts';
$font-family-files: (Montserrat: (light: (weight: 300, style: normal, stretch: normal), lightitalic: (weight: 300, style: italic, stretch: normal), bold: (weight: 700, style: normal, stretch: normal), bolditalic: (weight: 700, style: italic, stretch: normal), black: (weight: 900, style: normal, stretch: normal), blackitalic: (weight: 900, style: italic, stretch: normal)));
$font-family-base: Montserrat, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-family-mono: Hack, Consolas, Menlo, Monaco, 'Ubuntu Mono', 'Courier New', Courier, monospace, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
$font-weight-normal: 300;
$font-weight-bold: 700;
$font-weight-black: 900;
$font-size-root: 20px;
$font-size-base: 1rem;
$font-size-scale-ratio: 1.2;
$font-size-xxxxxxxs: ms(-8);
$font-size-xxxxxxs: ms(-7);
$font-size-xxxxxs: ms(-6);
$font-size-xxxxs: ms(-5);
$font-size-xxxs: ms(-4);
$font-size-xxs: ms(-3);
$font-size-xs: ms(-2);
$font-size-s: ms(-1);
$font-size-m: ms(0);
$font-size-l: ms(1);
$font-size-xl: ms(2);
$font-size-xxl: ms(3);
$font-size-xxxl: ms(4);
$font-size-xxxxl: ms(5);
$font-size-xxxxxl: ms(6);
$font-size-xxxxxxl: ms(7);
$font-size-xxxxxxxl: ms(8);
$font-size-h1: $font-size-xxl;
$font-size-h2: $font-size-xl;
$font-size-h3: $font-size-l;
$font-size-h4: $font-size-m;
$font-size-h5: $font-size-m;
$font-size-h6: $font-size-m;
$line-height-base: 1.5;
$line-height-header: 1.25;
$line-height-button: 1;
$line-height-form: 2.5rem;
$max-line-length: 50em;