// 888                             888
// 888                             888
// 888                             888
// 88888b.   .d88b.   8888b.   .d88888  .d88b.  888d888
// 888 "88b d8P  Y8b     "88b d88" 888 d8P  Y8b 888P"
// 888  888 88888888 .d888888 888  888 88888888 888
// 888  888 Y8b.     888  888 Y88b 888 Y8b.     888
// 888  888  "Y8888  "Y888888  "Y88888  "Y8888  888

.site-header {
  background-color: color(grey, 95);
  margin-bottom: $space-m;
  text-align: center;

  a {
    color: $color-theme-base-text;
    display: inline-block;
    padding: $space-s;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover {
      background-color: $color-theme-dark-background-alt;
      color: $color-theme-dark-text;
    }
  }

  button {
    background-color: transparent;
    border-width: 0;
    color: inherit;
    font-size: $font-size-xxl;
    left: $space-s;
    padding: 7px $space-s $space-s;
    position: absolute;
    top: 0;

    &:active,
    &:focus,
    &:hover {
      background-color: $color-theme-dark-background-alt;
      color: $color-theme-dark-text;
    }

    @include breakpoint(xl) {
      top: -$space-xxl;
    }
  }

  .constrained {
    position: relative;
  }
}
