// 888
// 888
// 888
// 88888b.   .d88b.  88888b.d88b.   .d88b.
// 888 "88b d88""88b 888 "888 "88b d8P  Y8b
// 888  888 888  888 888  888  888 88888888
// 888  888 Y88..88P 888  888  888 Y8b.
// 888  888  "Y88P"  888  888  888  "Y8888

.grid-separated {
  > * {
    border-right: 1px solid $color-theme-base-background-alt;

    &:last-child {
      border-right-width: 0;
    }
  }
}

.home-content {
  border-width: 0;
  margin-bottom: $space-xxxl;
  margin-top: (-$space-xxl);
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: max-height $transition-base-time $transition-base-easing;
}

.home-content-open {
  border-width: 1px;
  max-height: $transition-max;
  padding: $space-m;
}

.home-intro {
  em {
    color: color(red, 40);
    font-style: normal;
  }
}

.home-links {
  margin-bottom: $space-xxxl;

  ul {
    padding-left: 0;
  }

  li {
    display: inline-block;
    font-weight: $font-weight-bold;
    line-height: 1;
    list-style: none;
    padding: 0 $space-m 0 0;
    white-space: nowrap;
  }
}

.site-home {
  .header-caps.nowrap-at-m {
    margin-bottom: $space-s;

    @include breakpoint(m) {
      margin-bottom: 0;
    }
  }

  .header-overall {
    margin-top: $space-m;
  }
}

.site-home-big-select {
  margin: $space-l 0;

  @include breakpoint(m) {
    grid-column-gap: $space-xs;
  }

  button,
  select {
    border-width: 0;
    height: $space-xxl;
    line-height: $space-xxl;
    width: 100%;
  }

  button {
    align-items: center;
    background-color: color(cyan, 40);
    color: color(white);
    display: flex;
    font-size: $font-size-xl;
    font-weight: $font-weight-black;
    justify-content: center;
    padding: 0;
    text-transform: uppercase;

    @include breakpoint(m) {
      font-size: $font-size-xxl;
    }

    &:active,
    &:focus,
    &:hover {
      background-color: color(cyan, 30);
    }

    icon {
      height: $icon-size-l;
      margin-left: $space-s;
      width: $icon-size-l;
    }
  }

  select {
    background-color: $color-theme-base-background;
    border: 1px solid color(grey, 70);
    color: $color-theme-base-text;
    font-size: $space-m;
    height: $space-xxl;
    padding: 0 $space-xxxl 0 $space-l;

    @include breakpoint(m) {
      font-size: $space-l;
    }
  }

  .select {
    &::after {
      border-left-width: $space-m;
      border-right-width: $space-m;
      border-top: $space-m solid $color-theme-base-text;
      margin-top: (-$space-s);
      right: $space-l;
    }
  }
}

.site-home-list {
  margin-bottom: 0;

  li {
    font-weight: $font-weight-bold;
  }
}

.site-home-main {
  padding: $space-m $space-m $space-xxl;

  @include breakpoint(m) {
    padding: $space-xxl $space-m $space-xxxxl;
  }
}

.trade-data-reports {
  > a {
    background: color(grey, 95);
    display: block;
    padding: $space-m;
    text-align: center;

    &:active,
    &:focus,
    &:hover {
      background: $color-theme-dark-background-alt;
      color: $color-theme-dark-text;

      icon {
        color: $color-theme-dark-text;
      }
    }

    icon {
      color: $color-theme-base-text;
    }
  }
}
