// 888
// 888
// 888
// 88888b.   .d88b.  88888b.d88b.   .d88b.
// 888 "88b d88""88b 888 "888 "88b d8P  Y8b
// 888  888 888  888 888  888  888 88888888
// 888  888 Y88..88P 888  888  888 Y8b.
// 888  888  "Y88P"  888  888  888  "Y8888

.grid-separated {
  @include breakpoint(m) {
    margin: 0 (-$space-s);
  }

  > * {
    border-right: 1px solid $color-theme-base-background-alt;
    padding: $space-m $space-m 0;

    @include breakpoint(m) {
      padding: $space-l;
    }
  }

  .header-caps {
    @include breakpoint(m) {
      font-size: $font-size-h4;
    }

    @include breakpoint(l) {
      font-size: $font-size-h2;
    }
  }
}

.home-content {
  border-width: 0;
  margin-bottom: $space-xxxl;
  margin-top: (-$space-xxl);
  max-height: 0;
  overflow: hidden;
  padding: 0;
  transition: max-height $transition-base-time $transition-base-easing;
}

.home-content-open {
  border-width: 1px;
  max-height: $transition-max;
  padding: $space-m;
}

.home-intro {
  em {
    color: color(red, 40);
    font-style: normal;
  }
}

.home-links {
  margin-bottom: $space-xxxl;

  ul {
    padding-left: 0;
  }

  li {
    display: inline-block;
    font-weight: $font-weight-bold;
    line-height: 1;
    list-style: none;
    padding: 0 $space-m 0 0;
    white-space: nowrap;
  }
}

.home-section-classification {
  border-right-width: 0;
  padding-bottom: $space-m;

  @include breakpoint(m) {
    padding: $space-l;
  }
}

.home-section-reports {
  padding: $space-m;

  @include breakpoint(m) {
    padding: $space-l;
  }

  @include breakpoint(l) {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
  }

  > div {
    @include breakpoint(l) {
      @include constrained;
      padding: 0 $space-m;
    }
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin: 0;

      a {
        display: block;
        padding: $space-m;
        text-align: center;

        &:active,
        &:focus,
        &:hover {
          background: $color-theme-dark-background-alt;
          color: $color-theme-dark-text;
        }
      }
    }
  }
}

.site-home {
  .header-caps.nowrap-at-m {
    margin-bottom: $space-s;

    @include breakpoint(m) {
      margin-bottom: 0;
    }
  }
}

.site-home-list {
  margin-bottom: $space-s;
  padding-left: $space-xl;

  li {
    margin-bottom: $space-xs;
  }
}

.site-home-main {
  padding: $space-m $space-m $space-xxl;

  @include breakpoint(m) {
    padding: $space-xxl $space-m $space-xxxxl;
  }
}

.site-home-header {
  padding: $space-xxxl $space-m ($space-xxxl + $space-m);
}
