//                                            888
//                                            888
//                                            888
// .d8888b   .d88b.   8888b.  888d888 .d8888b 88888b.
// 88K      d8P  Y8b     "88b 888P"  d88P"    888 "88b
// "Y8888b. 88888888 .d888888 888    888      888  888
//      X88 Y8b.     888  888 888    Y88b.    888  888
//  88888P'  "Y8888  "Y888888 888     "Y8888P 888  888

.attached-at-top {
	margin-top: $space-m;
	position: relative;

	&:before {
		border-left: $border-base;
		content: '';
		height: $space-m;
		left: 50%;
		position: absolute;
		top: (-$space-m);
	}
}

.commodities-button {
	button {
		padding: $space-xs;
	}
}

.commodities-name {
	font-size: $font-size-xs;
	padding-bottom: 0;
	text-align: center;

	@include breakpoint(m) {
		text-align: left;
		padding-bottom: $space-s;
	}
}

.commodities-select .input-with-button button {
	padding: 0 $space-m;
}

.commodities-select-list {
	margin-left: (-$space-m);
	margin-right: (-$space-m);
	padding: ($space-l + $space-s) $space-m $space-m;
	position: relative;

	@include breakpoint(m) {
		margin-left: 0;
		margin-right: 0;
	}
}

.commodities-value {
	font-size: $font-size-xs;
	font-weight: $font-weight-bold;
	padding-bottom: 0;
	text-align: center;

	@include breakpoint(m) {
		border-right: 1px solid #b3b1b4;
		padding-bottom: $space-s;
	}
}

.new-request-button {
	> div {
		display: inline-block;
	}
}

.search-actions-buttons {
	text-align: center;

	@include breakpoint(m) {
		align-self: center;
		flex: 1 0 auto;
		margin-left: $space-m;
		text-align: right;
	}

	button,
	.button {
		text-transform: none;
	}

	.button-primary {
		&:active,
		&:focus,
		&:hover {
			background-color: $color-blue-light;
			color: $color-black;
		}
	}

	.button-success {
		&:active,
		&:focus,
		&:hover {
			background-color: $color-green-light;
			color: $color-black;
		}
	}

	.button-cancel {
		&:active,
		&:focus,
		&:hover {
			background-color: $color-red-light;
			color: $color-black;
		}
	}
}

.search-actions-name {
	margin-bottom: $space-m;

	.floating-label-group {
		margin: 0;
	}

	input {
		border-width: 0;
	}

	label {
		color: $color-white;
	}
}

.search-actions-wrapper {
	@include breakpoint(m) {
		align-content: center;
		align-items: stretch;
		display: flex;
	}
}

.search-column-order {
	align-items: center;
	display: flex;
	padding: $space-s;

	&:nth-child(odd) {
		background-color: $color-gray-lighter;
	}

	> div {
		padding-left: $space-s;
	}
}

.search-column-order-wrapper {
	border: $border-base;
}

.search-options {
	.toggle-switch label {
		margin-bottom: 0;
	}
}

.search-settings-group {
	padding-top: $space-m;

	+ .search-settings-group {
		@include breakpoint(l) {
			padding-top: 0;
		}
	}
}

.search-sort-order {
	.toggle-switch {
		border-radius: 0 0 $space-s $space-s;
		border-top-width: 0;

		label {
			&:first-of-type {
				border-top-left-radius: 0;
			}

			&:last-of-type {
				border-top-right-radius: 0;
			}
		}
	}
}

.show-query {
	white-space: pre-wrap;
}

.show-query-button-container {
	@include breakpoint(m) {
		text-align: right;
	}
}

.site-query {
	simple-select {
		.form-group {
			margin-top: $space-m;
		}

		&:first-child .form-group {
			margin-top: 0;
		}
	}

	.nav-tabs {
		display: none;
	}

	.nav-tabs-pane {
		border-top-width: 0;
	}
}

.site-search {
	&:not(.site-query-loading) {
		margin-top: (-$space-m);
	}

	h2:only-child {
		margin-bottom: 0;
	}
}

.site-search-header {
	background-color: $color-blue-dark;
}

.table-results {
	h3 {
		@include breakpoint(m) {
			font-size: 1.2em;
		}
	}

	thead th {
		text-align: center;

		@include breakpoint(m) {
			font-size: 1.2em;

			button,
			.button {
				font-size: 0.8em;
			}
		}

		pre {
			font-size: $font-size-s;
		}

		&.text-left {
			text-align: left;
		}
	}

	tbody td {
		white-space: nowrap;
	}

	th:first-child,
	td:first-child {
		border-left-width: 0;

		@include breakpoint(l) {
			border-left-width: 1px;
		}
	}

	th:last-child,
	td:last-child {
		border-right-width: 0;

		@include breakpoint(l) {
			border-right-width: 1px;
		}
	}

	.subtotal,
	.total {
		th,
		td {
			background-color: #f2f3f3;
			font-weight: $font-weight-bold;
		}
	}

	.total {
		th,
		td {
			background-color: $color-gray-lighter;
		}
	}
}

.table-results-font-s {
	font-size: $font-size-xxs;
}

.table-results-font-l {
	font-size: $font-size-l;
}

.table-searches.table-responsive {
	thead th {
		text-transform: uppercase;
		vertical-align: middle;
		white-space: nowrap;
	}

	tbody {
		tr {
			&:nth-child(odd) td {
				background-color: $color-blue;
			}

			&.sample-row td {
				background-color: $color-orange-light;
				color: $color-black;

				&:last-child {
					border-bottom: 1px solid rgba($color-black, 0.25);
				}

				@include breakpoint(s) {
					border-bottom: 1px solid rgba($color-black, 0.25);
					border-color: rgba($color-black, 0.25);
				}

				span {
					background-color: $color-orange;
					color: $color-white;
					display: inline-block;
					font-weight: $font-weight-bold;
					margin-right: $space-s;
					padding: $space-xs;

					@include breakpoint(s) {
						line-height: ($space-m + $space-xs);
						margin: (-$space-xs) $space-m (-$space-xs) (-$space-m);
						padding: $space-s $space-m;
					}
				}
			}

			&.sample-row {
				&:nth-child(even) {
					td {
						background-color: #fcefd6;
					}
				}

				td {
					em {
						background-color: $color-orange;
						color: $color-white;
						display: block;
						font-weight: $font-weight-bold;
						margin: (-$space-m) (-$space-m) $space-m;
						padding: $space-xs $space-m;
						text-align: center;
						white-space: nowrap;
					}

					@include breakpoint(s) {
						&:first-child {
							padding: 0 !important;

							> div {
								align-items: stretch;
								display: flex;

								> div {
									align-self: center;
									padding: $space-xs $space-m;
								}
							}

							em {
								align-items: center;
								display: flex;
								margin: 0;
								padding: $space-s $space-m;
							}
						}
					}
				}
			}
		}

		th:only-child,
		td:only-child {
			@include breakpoint(s) {
				padding-bottom: 0 !important;
				padding-top: 0 !important;
			}
		}

		td {
			vertical-align: middle;
		}
	}

	th,
	td {
		padding: $space-xs $space-m !important;

		&:first-child {
			padding-top: $space-m !important;

			@include breakpoint(s) {
				padding-top: $space-xs !important;
			}
		}

		&:last-child {
			padding-bottom: $space-m !important;

			@include breakpoint(s) {
				white-space: nowrap;
				padding-bottom: $space-xs !important;
			}
		}

		@include breakpoint(s) {
			border-right: 1px solid rgba($color-white, 0.25);

			&:last-child {
				border-right-width: 0;
			}
		}
	}

	button {
		display: block;
		width: 100%;
	}

	.query-desc {
		font-size: $font-size-xs;
	}

	.query-name {
		font-size: $font-size-m;
	}

	.query-system,
	.query-type {
		white-space: nowrap;
	}
}

.table-selector {
	margin-bottom: $space-m;

	@include breakpoint(m) {
		margin-bottom: 0;
	}

	&::after {
		border-top-color: $color-theme-base-text; //
	}

	select {
		background-color: $color-blue-light;
		border-width: 0;
		color: $color-theme-base-text; //
		font-weight: $font-weight-bold;
	}
}
