<div *ngIf="section"
  class="constrained padding-left-right">
  <ds-breadcrumb [section]="section"></ds-breadcrumb>
  <ds-section [section]="section"></ds-section>
  <ng-container *ngIf="subSections">
    <ds-section *ngFor="let section of subSections"
      [section]="section"></ds-section>
  </ng-container>
  <ul *ngIf="subSectionLinks"
    class="kss-sub-section-links">
    <li *ngFor="let section of subSectionLinks">
      <a [routerLink]="section.url"
        [innerHTML]="section.header"></a>
    </li>
  </ul>
</div>
