//          888          888               888
//          888          888               888
//          888          888               888
//  .d88b.  888  .d88b.  88888b.   8888b.  888
// d88P"88b 888 d88""88b 888 "88b     "88b 888
// 888  888 888 888  888 888  888 .d888888 888
// Y88b 888 888 Y88..88P 888 d88P 888  888 888
//  "Y88888 888  "Y88P"  88888P"  "Y888888 888
//      888
// Y8b d88P
//  "Y88P"

// Global
//
// Coming soon...
//
// Styleguide Components.Global
html {
  font-size: $font-size-root;
}

body {
  background-color: $color-theme-base-background;
  color: $color-theme-base-text;
  font-family: $font-family-base;
  font-size: $font-size-m;
  font-variant-ligatures: common-ligatures;
  font-variant-numeric: lining-nums;
  font-weight: $font-weight-normal;
  line-height: $line-height-base;
  position: relative;

  &.has-off-canvas {
    overflow: hidden;
  }

  &.body-scrollable {
    overflow: auto;

    .constrained {
      margin-left: 1vw;
      margin-right: 0;
      max-width: 95vw;
    }

    .off-canvas-right {
      display: none;
    }

    .site-content {
      overflow: initial;
    }

    .site-layout {
      grid-template-columns: $off-canvas-width auto;
      width: calc(100% + $off-canvas-width);
    }
  }
}

::selection {
  background-color: $color-theme-dark-background-alt;
  color: $color-theme-dark-text;
  text-shadow: 0;
}

::-moz-selection {
  background-color: $color-theme-dark-background-alt;
  color: $color-theme-dark-text;
  text-shadow: 0;
}

:focus {
  box-shadow: $shadows-box-focus;
  outline: transparent;
}

::placeholder {
  color: color(grey, 75);
  opacity: 1;
}

a {
  color: $color-theme-base-link;
  cursor: pointer;
  text-decoration: underline;
  transition: $transition-base;

  .on-dark & {
    color: $color-theme-dark-link;
  }

  .on-light & {
    color: $color-theme-base-link;
  }

  &[href*='//']:not([href*="dataweb.usitc.gov"]) {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAwIDEwMDAiPjx0aXRsZT5leHRlcm5hbDwvdGl0bGU+PHN0eWxlPnBhdGggeyBmaWxsOiAjMGY3NThhOyB9PC9zdHlsZT48cGF0aCBkPSJNOTQ4Ljc1LDMyNC4xNCw4NzkuMjUsMjIxLDY3Ni41OSw0MjMuNjRhMjAuNzYsMjAuNzYsMCwwLDEtMjkuMjYsMGwtNzMuMTYtNzMuMTZhMjAuNzYsMjAuNzYsMCwwLDEsMC0yOS4yN0w3NzYuODIsMTE4LjU2bC0xMDEtNjcuMzFjLTE2LjgzLTExLTguNzgtMzYuNTgsMTEtMzcuMzFMOTc4Ljc0LDBjMTIuNDQtLjczLDIyLDguNzgsMjEuMjIsMjEuMjJsLTEzLjksMjkxLjlDOTg0LjYsMzMzLjY1LDk1OS43MiwzNDEsOTQ4Ljc1LDMyNC4xNFoiLz48cGF0aCBkPSJNODI2LjMyLDM1NS4yNVY4MTAuNTNhMTUuNjcsMTUuNjcsMCwwLDEtMTUuMjcsMTUuMjZIMTg5YTE1LjY3LDE1LjY3LDAsMCwxLTE1LjI3LTE1LjI2VjE4OC40MmMwLTcuODMsNi44NS0xNC4yMSwxNS4yNy0xNC4yMUg2NDMuNjdsNTAtNTBIMTg5Yy0zNS43OSwwLTY1LjI3LDI4LjQyLTY1LjI3LDY0LjIxVjgxMC41M2MwLDM1Ljc5LDI5LjQ4LDY1LjI2LDY1LjI3LDY1LjI2aDYyMi4xYzM1Ljc5LDAsNjUuMjctMjkuNDcsNjUuMjctNjUuMjZWMzA1LjI1WiIvPjwvc3ZnPg==);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: ($space-m * 0.75);
    padding-right: ($space-m * 0.85);

    &:active,
    &:focus,
    &:hover {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAwIDEwMDAiPjx0aXRsZT5leHRlcm5hbDwvdGl0bGU+PHN0eWxlPnBhdGggeyBmaWxsOiAjMDUyNzJlOyB9PC9zdHlsZT48cGF0aCBkPSJNOTQ4Ljc1LDMyNC4xNCw4NzkuMjUsMjIxLDY3Ni41OSw0MjMuNjRhMjAuNzYsMjAuNzYsMCwwLDEtMjkuMjYsMGwtNzMuMTYtNzMuMTZhMjAuNzYsMjAuNzYsMCwwLDEsMC0yOS4yN0w3NzYuODIsMTE4LjU2bC0xMDEtNjcuMzFjLTE2LjgzLTExLTguNzgtMzYuNTgsMTEtMzcuMzFMOTc4Ljc0LDBjMTIuNDQtLjczLDIyLDguNzgsMjEuMjIsMjEuMjJsLTEzLjksMjkxLjlDOTg0LjYsMzMzLjY1LDk1OS43MiwzNDEsOTQ4Ljc1LDMyNC4xNFoiLz48cGF0aCBkPSJNODI2LjMyLDM1NS4yNVY4MTAuNTNhMTUuNjcsMTUuNjcsMCwwLDEtMTUuMjcsMTUuMjZIMTg5YTE1LjY3LDE1LjY3LDAsMCwxLTE1LjI3LTE1LjI2VjE4OC40MmMwLTcuODMsNi44NS0xNC4yMSwxNS4yNy0xNC4yMUg2NDMuNjdsNTAtNTBIMTg5Yy0zNS43OSwwLTY1LjI3LDI4LjQyLTY1LjI3LDY0LjIxVjgxMC41M2MwLDM1Ljc5LDI5LjQ4LDY1LjI2LDY1LjI3LDY1LjI2aDYyMi4xYzM1Ljc5LDAsNjUuMjctMjkuNDcsNjUuMjctNjUuMjZWMzA1LjI1WiIvPjwvc3ZnPg==);
    }
  }

  &:active,
  &:focus,
  &:hover {
    background-color: $color-theme-base-hover-background;
    color: $color-theme-base-hover-text;

    .on-dark & {
      background-color: $color-theme-dark-hover-background;
      color: $color-theme-dark-hover-text;
    }

    .on-light & {
      background-color: $color-theme-base-hover-background;
      color: $color-theme-base-hover-text;
    }
  }
}

abbr {
  font-variant: small-caps;
  text-transform: lowercase;
}

app-layout,
app-root {
  min-height: 100vh;
}

article {
  section {
    + section {
      margin-top: $space-l;
    }
  }
}

code,
pre {
  font-family: $font-family-mono;
}

dl {
  dt {
    font-weight: $font-weight-bold;
  }

  dd {
    margin-bottom: $space-s;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

hr {
  border: none;
  border-top: $border-base;
  height: 0;
  margin: $space-m 0;
}

p {
  margin-bottom: $space-m;

  &:last-child {
    margin-bottom: 0;
  }
}

table {
  margin-bottom: $space-m;

  &:last-child {
    margin-bottom: 0;
  }

  td,
  th {
    padding: $space-s !important;
  }

  th {
    font-weight: $font-weight-bold;
  }
}

ol,
ul {
  margin-bottom: $space-m;
  padding-left: $space-l;

  &:only-child,
  &:last-child li:last-child {
    margin-bottom: 0;
  }

  li {
    margin: 0 0 $space-s;
    list-style: square;
  }

  &.clean {
    padding: 0;

    li {
      list-style: none;
      margin: 0 0 $space-m;
    }
  }
}

ol li {
  list-style: decimal;
}

pre {
  background-color: color(white);
  border: $border-base;
  color: color(black);
  font-family: $font-family-mono;
  padding: $space-s;
}

.alt {
  background-color: color(grey, 95);
}

.alt-off {
  background-color: $color-theme-base-background;
}

.app-version {
  font-size: $font-size-xs;
  font-style: italic;
}

.beta {
  color: color(red, 40);
}

.constrained {
  @include constrained;
}

.disclaimer {
  font-size: $font-size-xs;
}

.nowrap {
  white-space: nowrap;
}

.nowrap-at-m {
  @include breakpoint(m) {
    white-space: nowrap;
  }
}

.on-dark {
  background-color: $color-theme-dark-background;
  color: $color-theme-dark-text;

  &.on-dark-alt {
    background-color: $color-theme-dark-background-alt;
  }

  &.on-dark-grey {
    background-color: color(grey, 20);
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.read-more {
  max-height: $transition-max;
  overflow: hidden;
  transition: max-height $transition-base-time $transition-base-easing;

  &.read-more-hidden {
    max-height: 0;
  }
}

.read-more-content {
  p:last-of-type {
    margin-bottom: 0;
  }

  dt:first-child {
    margin-top: $space-m;
  }
}

.roman-outline {
  ol li {
    list-style-type: upper-roman;

    ol {
      margin-top: $space-s;
    }

    li {
      list-style-type: upper-latin;
    }
  }
}

.scrollable {
  max-height: 400px;
  min-height: $space-l;
  overflow-y: scroll;

  &.mh-250 {
    max-height: 250px;
  }
}

.tag-label {
  background-color: $color-theme-base-background-alt;
  color: $color-theme-base-text;
  display: inline-block;
  font-size: $font-size-xxs;
  font-weight: $font-weight-bold;
  line-height: $line-height-button;
  padding: $space-xxs;
  position: relative;
  top: $space-xxs;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.unpad {
  margin: (-$space-m) !important;
}

.visually-hidden {
  height: 1px;
  left: -9999rem;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;
}
