// 88888b.   8888b.  888  888
// 888 "88b     "88b 888  888
// 888  888 .d888888 Y88  88P
// 888  888 888  888  Y8bd8P
// 888  888 "Y888888   Y88P

.nav-on-page {
  background-color: $color-theme-base-background-alt;

  @include breakpoint(m) {
    margin-right: $space-m;
  }

  ul {
    margin-bottom: 0;
    padding: 0;
  }

  li {
    font-size: $font-size-s;
    font-variant-numeric: tabular-nums;
    list-style: none;
    margin-bottom: 0;

    a {
      display: block;
      padding: $space-xs $space-l;
      text-decoration: none;

      &.active,
      &:active,
      &:focus,
      &:hover {
        background-color: $color-theme-dark-background-alt;
        color: $color-theme-dark-text;
      }

      @include breakpoint(m) {
        &.active {
          position: relative;

          &::after {
            border-bottom: 14px solid transparent;
            border-left: $space-m solid $color-theme-dark-background-alt;
            border-top: 15px solid transparent;
            content: '';
            margin-top: -15px;
            position: absolute;
            right: (-$space-m);
            top: 50%;
          }
        }
      }
    }

    &:last-child {
      ul {
        margin-bottom: 0;
      }
    }

    ul {
      margin-bottom: $space-s;

      a {
        padding: $space-xs ($space-l + $space-s);
      }
    }
  }

  .nav-on-page-header,
  .nav-on-page-subheader {
    color: $color-theme-base-text;
    font-size: $font-size-s;
    font-weight: $font-weight-normal;
    margin: 0 $space-m $space-s;

    strong {
      display: block;
      font-size: $font-size-m;
    }
  }

  .nav-on-page-subheader {
    font-weight: $font-weight-bold;
    margin: 0 $space-m;
    padding: 0 $space-s $space-xs;
  }
}

.nav-on-page-block {
  border-bottom: 1px solid color(grey, 80);
  padding: $space-m 0;

  &:last-child {
    border-bottom-width: 0;
  }
}

.site-nav.on-dark {
  background-color: color(cyan, 15);
  grid-area: site-nav;
  height: $off-canvas-height;
  overflow-y: auto;
  position: relative;

  a {
    display: block;
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
    line-height: $line-height-header;
    padding: $space-s $space-m;
    text-decoration: none;

    &:active,
    &:focus,
    &:hover,
    &.nav-active {
      background-color: $color-theme-dark-background-alt;
      color: $color-theme-dark-text;
    }

    &[href*='//']:not([href*="dataweb.usitc.gov"]) {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMDAwIDEwMDAiPjx0aXRsZT5leHRlcm5hbDwvdGl0bGU+PHN0eWxlPnBhdGggeyBmaWxsOiB3aGl0ZTsgfTwvc3R5bGU+PHBhdGggZD0iTTk0OC43NSwzMjQuMTQsODc5LjI1LDIyMSw2NzYuNTksNDIzLjY0YTIwLjc2LDIwLjc2LDAsMCwxLTI5LjI2LDBsLTczLjE2LTczLjE2YTIwLjc2LDIwLjc2LDAsMCwxLDAtMjkuMjdMNzc2LjgyLDExOC41NmwtMTAxLTY3LjMxYy0xNi44My0xMS04Ljc4LTM2LjU4LDExLTM3LjMxTDk3OC43NCwwYzEyLjQ0LS43MywyMiw4Ljc4LDIxLjIyLDIxLjIybC0xMy45LDI5MS45Qzk4NC42LDMzMy42NSw5NTkuNzIsMzQxLDk0OC43NSwzMjQuMTRaIi8+PHBhdGggZD0iTTgyNi4zMiwzNTUuMjVWODEwLjUzYTE1LjY3LDE1LjY3LDAsMCwxLTE1LjI3LDE1LjI2SDE4OWExNS42NywxNS42NywwLDAsMS0xNS4yNy0xNS4yNlYxODguNDJjMC03LjgzLDYuODUtMTQuMjEsMTUuMjctMTQuMjFINjQzLjY3bDUwLTUwSDE4OWMtMzUuNzksMC02NS4yNywyOC40Mi02NS4yNyw2NC4yMVY4MTAuNTNjMCwzNS43OSwyOS40OCw2NS4yNiw2NS4yNyw2NS4yNmg2MjIuMWMzNS43OSwwLDY1LjI3LTI5LjQ3LDY1LjI3LTY1LjI2VjMwNS4yNVoiLz48L3N2Zz4=) !important;
      background-position: center right $space-m;
      padding-right: $space-xl;
    }
  }

  span {
    display: block;
    font-size: $font-size-l;
    font-weight: $font-weight-bold;
    line-height: $line-height-header;
    padding: $space-s $space-m;
  }

  ul {
    margin: 0;
    padding: 0 0 $space-m;

    li {
      list-style: none;
      margin: 0;
    }

    ul {
      padding: 0;
    }
  }

  .site-nav-children a {
    font-size: $font-size-m;
    font-weight: $font-weight-normal;
    padding: $space-xs $space-l;
  }
}
