<section *ngIf="content">
  <div *ngIf="content.header" [innerHTML]="content.header"></div>
  <div *ngIf="content.description" class="kss-description" [innerHTML]="content.description"></div>
  <ng-container *ngIf="content.markup">
    <div class="kss-example-header">Example</div>
    <div class="kss-example" [ngClass]="content.markupClass" [innerHTML]="content.markup | KeepHtmlPipe"></div>
    <ngx-prism [language]="'markup'">{{content.markup}}</ngx-prism>
    <div *ngIf="content.modifiers?.length > 0" [innerHTML]="content.modifiers"></div>
    <div *ngIf="content.parameters?.length > 0" [innerHTML]="content.parameters"></div>
    <div class="kss-source"><strong>Source: </strong> <code [innerHTML]="content.sourceFile"></code>, line <code [innerHTML]="content.sourceLine"></code></div>
  </ng-container>
</section>
